<div class="menu">
  <a href="/gw/prop_others?cls=other"><span class="">一般施設マスタ</span></a>
  <a href="/gw/prop_other_limits"><span class="current_menu">一般施設マスター件数制限</span></a>
</div>
<div class="titleLine">
  <span class="title">一般施設　件数制限</span>
  <span class="linkSpace"></span>
</div>
<div class="showMenu"><%= link_to("同期処理", "/gw/prop_other_limits/synchro") %></div>
