<%
link_str1 = %Q(<span>一覧</span>)
link_str2 = %Q(<span>登録</span>)
case @l3_current
when '01'
  link_str1 = %Q(<span class="gwsub_current_menu">一覧</span>)
when '02'
  link_str2 = %Q(<span class="gwsub_current_menu">登録</span>)
else
end
%>

<div class="menu">
<%= link_to raw(link_str2) , url_for({:action => :new}) if @u_role == true && @items.blank? && action_name.in?(%w(index new create)) %>
<%= link_to raw(link_str1) , url_for({:action => :index})%>
</div>
