<table class="index">
  <tbody>
    <tr>
      <th></th>
      <th>種別</th>
      <th>ID</th>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>状態</th>
      <th>LDAP同期</th>
    </tr>
    <%= render 'system/admin/users/list_users_groups', groups: @groups %>
  </tbody>
</table>
