<div class="pieceHeader">
<h2 class="pieceTitle">ワークフロー設定</h2>
<div class="btsHeaderLeft">
<% unless defined?(hide_new_action) %>
  <span class="btNew"><a href=<%= gwworkflow_custom_routes_new_path %>>新規作成</a></span>
<% end %>
</div>

</div><!--pieceHeader-->
