<div class="bbsDocList workflow setting">
<div class="pieceHeader">
<h2 class="pieceTitle">ワークフロー設定</h2>
</div><!--pieceHeader-->
<!--カラム用タグ-->
<div class="pieceBanner">
</div>

<div class="pieceBody">

<div class="pieceBodyBody">
<ul>

<li>
<span class="function"><a href="/gwworkflow/notifying">メール通知設定</a></span>
<span class="explanation">決裁待ち稟議や承認が完了した稟議をメールで通知します。</span>
</li>

<li>
<span class="function"><a href="/gwworkflow/custom_routes">カスタムルート設定</a></span>
<span class="explanation">よく使うルートをあらかじめ設定しておきます。</span>
</li>

</ul>
</div>

<!--戻るボタン-->
<div class="btReturn">
  <%=link_to '一覧へ戻る', "#{@title.menus_path}" %>
</div>
</div><!--pieceBody-->
</div><!--bbsDocList-->
