<div class="editingBox">
  <span class="btNew"><%= link_to '新規作成', {action: :new} %></span>
  <span class="showLink"><a href="/gw/schedule_props/show_week?s_genre=rentcar&cls=pm">レンタカースケジュール画面へ &gt;&gt;</a></span>
  <span class="showLink"><a href="/gw/schedule_props/show_week?s_genre=meetingroom&cls=pm">会議室等スケジュール画面へ &gt;&gt;</a></span>
</div>
