<%
 m_access = System::User.m_access_select
%>
<%= hidden_field_tag :c1 , 2 %>
<%= required_head %>
<table class="show">
  <tr>
    <th>携帯アクセス許可設定<%= required('※') %></th>
    <td><%= f.select :mobile_access ,options_for_select(m_access ,@user.mobile_access.to_i) %></td>
  </tr>
</table>
