<%
 m_access = System::User.m_access_select
%>
<%= hidden_field_tag :c1, 2 %>
<%= required_head %>
<table class="show">
  <tr>
    <th>携帯アクセスパスワード設定<%= required('※') %></th>
    <td><%= f.password_field :mobile_password, :size => 50 %></td>
  </tr>
</table>
