<%

link_s = %Q(<span class="current_menu">)
link_s_end = %Q(</span>)

lnks1 = (@hedder5lnk == 1 ? "#{link_s}今年度実績一覧#{link_s_end}" : "<span>今年度実績一覧</span>")
lnks2 = (@hedder5lnk == 2 ? "#{link_s}昨年度以前実績一覧#{link_s_end}" : "<span>昨年度以前実績一覧</span>")

%>
<div class="menu">
<%=link_to lnks1.html_safe, "#{@uri_base}?order=#{params[:order]}"%>
<%=link_to lnks2.html_safe, "#{@uri_base}?year=last&order=#{params[:order]}"%>
</div>
