<% @sp_mode_extra_pm = @genre %>
<div class="piece prop show">
<div class="pieceHeader">
<%= render 'piece_header' -%>
</div>
<div class="pieceBody">
<div class="pieceBodyHeader">
  <%= render '/gw/admin/schedule_props/bt_box', d: Date.today -%>
  <%= render '/gw/admin/prop_extras/header' %>
</div>
<div class="pieceBodyBody">
  <%= render '/gw/admin/prop_extra_pm_genre_common/show', genre: :rentcar, mode: :show -%>
</div>
</div>
