<table class="index">
  <tr><th>担当者</th><th>連絡先</th><th>所属</th></tr>
  <tr>
    <td><%= @user.user_display %></td>
    <td><%= @user.telephone %></td>
    <td><%= @user.org_display %></td>
  </tr>
</table>
