<div class="piece gadget circular">
<div class="pieceHeader"><h3>回覧板</h3></div>

<div class="pieceBody">
<% if @items.blank? %>
未読の回覧はありません。
<% else %>
<table class="index">
  <% @items.each do |item| %>
    <tr class="article">
      <td class="state" style="width: 50px;">
        <span class="notice"><%=raw item.status_name_mobile %></span>
      </td>
      <td>
        <%= link_to item.title, item.show_path %>
        <span class="expireDate">回覧期限：<%=l item.expiry_date if item.expiry_date %></span>
      </td>
    </tr>
  <% end %>
</table>
<% end %>
<div class="bbsContinue">
<%= link_to '回覧板一覧',"/gwcircular?cond=already" %>
</div>

</div>
</div>
