<div class="gwsub sb09">
<div class="pieceHeader">
<h2>USBメモリ登録管理台帳</h2>
</div>
<div class="pieceBanner">
<%= render 'admin_header' %>
</div>
<div class="pieceBody">

<br />
<div class="explain">
  <h3>ＣＳＶ 出力</h3>
  <span style="color:blue">出力対象を、指定の文字コードで出力します。<br />保存先は、ダウンロード時に指定できます。</span>
</div>
<%= form_for :item, url: url_for(action: :csvput), html: {method: :get, multipart: true} do |f| %>
  <table class="show">
    <tr>
      <th></th>
      <td>文字コードを選択して実行してください</td>
    </tr>
    <tr>
      <th>文字コード</th>
      <td><%= f.radio_buttons :encoding, @item.encoding_options %></td>
    </tr>
  </table>
  <br />
  <div class="submitters">
    <%= f.submit 'CSV出力' %>
  </div>
<% end %>

</div>
</div>
