<% if @previous.present? || @next.present? %>
  <div class="docsPageMove">
  <% if @previous.present? %>
    <span class="left"><%= link_to '< 前のページ', digitallibrary_doc_path(@previous, title_id: @title.id, state: params[:state], cat: @previous.id) %></span>
  <% else %>
    <span class="left">先頭ページ</span>
  <% end %>
  <span class="center">|</span>
  <% if @next.present? %>
    <span class="right"><%= link_to "次のページ >", digitallibrary_doc_path(@next, title_id: @title.id, state: params[:state], cat: @next.id) %></span>
  <% else %>
    <span class="right">最終ページ</span>
  <% end %>
  </div>
<% end %>
