<table class="index">
  <tr class="subIndex">
    <th>事務の名称</th>
    <th>区分別</th>
  </tr>
  <% @items.each do |item| %>
    <tr class="article">
      <td class="docTitle leftLine<%=title_read_flag(@title, item)%>"><%= link_to item.title, "#{item.show_path}#{gwbbs_params_set}" %></td>
      <td rowspan="2"><%= link_to gwbd_category_name(@d_categories, item.category1_id), "#{item.show_path}#{gwbbs_params_set}" %></td>
    </tr>
    <tr class="article">
      <td class="group leftLine"><span><%= link_to item.section_name, "#{item.show_path}#{gwbbs_params_set}" %></span></td>
    </tr>
  <% end %>
</table>
