<hr class="borderDash"/>
<% @items.each do |item|%>
  <p class="leftPad2"><%= link_to item.section_name, "#{item.show_path}#{gwbbs_params_set}" %></p>
  <p class="leftPad1">区分別：<%= item.category.try(:name) %></p>
  <p class="leftPad1">事務の名称：<%= item.title %></p><br />
<% end %>
