<div>
<table class="index index2">
  <tr>
    <td rowspan="2" width="3%">決裁欄</td>
    <td align="center" width="20%">課（室・廨）長</td>
    <td align="center" width="20%">出納員・会計職員</td>
    <td align="center" width="40%">回　　議</td>
    <td align="center">担当者</td>
  </tr>
  <tr>
    <td hight="2em">　<br />　</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</div>
