<div class="piece AdminSetting">
<%= render 'header_str' %>
<div class="pieceBody">
<%= render 'header_new_botton' %>

<%= form_for :item, :url => {action: :create}, :html => {method: :post, id: "itemForm", multipart: true} do |f| %>
  <%= render 'form', f: f %>
<% end %>

</div>
</div>
