@charset "UTF-8";
@import "../base/init.css";
@import "../base/style.css";
@import "../piece/style.css";

/* =========================================================
   category
========================================================= */

/* side-link
----------------------------------------------- */
#attributeList .pieceHeader {
  height: 25px;
  background-image: url(./images/tl-kakuzokusei.gif);
  background-position: left top;
  background-repeat: no-repeat;
}

/* shinchaku-ichiran
----------------------------------------------- */
.contentArticleAttribute .latest {
  margin-bottom: 30px;
  padding: 0px;
  background-image: url(./images/tl-shinchaku-repeat.gif);
  background-position: left top;
  background-repeat: repeat-x;
}
.contentArticleAttribute .latest h2 {
  height: 30px;
  margin-bottom: 10px;
  background-image: url(./images/tl-shinchaku.gif);
  background-position: left top;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.contentArticleAttribute ul {
  padding: 0px 5px;
}
.contentArticleAttribute li {
  padding: 0px 0px 5px 10px;
  background-image: url(./images/ic-list-shinchaku.gif);
  background-position: left 5px;
  background-repeat: no-repeat;
}
.contentArticleAttribute h3 {
  background-color: #e3f0fa;
  margin-bottom: 10px;
  padding: 5px 5px 4px 15px;
  color: #333333;
  font-size: 120%;
  font-weight: bold;
}
.more {
  padding: 0px 5px 10px 0px;
  text-align: right;
}

/* RSS Atom
----------------------------------------------- */
.feed {
  position: relative;
  top: -32px;
  right:10px;
  float: right;
  height: 13px;
  background-color: transparent;
}
.feed a.feedRss {
  display: inline-block;
  width: 40px;
  height: 13px;
  background-image: url(./images/bt-rss.gif);
  background-repeat: no-repeat;
  text-indent: 50px;
  overflow: hidden;
}
.feed a.feedAtom {
  display: inline-block;
  width: 40px;
  height: 13px;
  background-image:url(./images/bt-atom.gif);
  background-repeat:no-repeat;
  text-indent: 50px;
  overflow: hidden;
}

/* For firefox2 */
.feed a.feedAtom,y:-moz-any-link,
.feed a.feedRss,x:-moz-any-link {
  display: -moz-inline-box;
  padding-top: 13px;
}

/* shinchaku-ichiran
----------------------------------------------- */
.attribute {
  float: left;
  width: 49%;
  margin-bottom: 10px;
  padding: 15px 0px 20px 0px;
  background-color: #e3f5ff;
}
.attributeNyusatsu {
  background-image: url(./images/ic-nyusatsu.gif);
  background-position: 10px 15px;
  background-repeat: no-repeat;
}
.attributeSaiyo {
  background-image: url(./images/ic-saiyo.gif);
  background-position: 10px 15px;
  background-repeat: no-repeat;
}
.attributeShikakushiken {
  background-image: url(./images/ic-kakusyushikakushiken.gif);
  background-position: 10px 15px;
  background-repeat: no-repeat;
}
.attributeBosyu {
  background-image: url(./images/ic-bosyu.gif);
  background-position: 10px 15px;
  background-repeat: no-repeat;
}
.attributeEvent {
  background-image: url(./images/ic-event.gif);
  background-position: 10px 15px;
  background-repeat: no-repeat;
}
.attributeKyoka {
  background-image: url(./images/ic-kakusyushikakushiken.gif);
  background-position: 10px 15px;
  background-repeat: no-repeat;
}
.attribute h2 {
  padding: 0px 0px 5px 70px;
}
.attribute .explain {
  margin-left: 70px;
}
.attributeSaiyo,
.attributeBosyu,
.attributeKyoka {
  margin-left: 15px;
}