<%
no_register = false
order = "fyear_id DESC , group_code ASC"

# メニュー２行目
if @c_cat_id.to_i==0
  l2_menu = Gwsub::Sb06AssignedConfCategory.new
  l2_menu.order "cat_sort_no"
  l2_menus_1 = l2_menu.find(:first)
else
  l2_menus_1 = Gwsub::Sb06AssignedConfCategory.where(:id => @c_cat_id).first
end
if l2_menus_1
  # メニュー３行目
  if @kind_id.to_i==0
    l3_menu = Gwsub::Sb06AssignedConfKind.new
    l3_menu.conf_cat_id = l2_menus_1.id
    l3_menu.fyear_id = @fy_id
    l3_menu.order "conf_kind_sort_no"
    l3_menus_1 = l3_menu.find(:first)
    if l3_menus_1.blank?
      l3_menu = Gwsub::Sb06AssignedConfKind.new
      l3_menu.conf_cat_id = l2_menus_1.id
      l3_menu.order "conf_kind_sort_no"
      l3_menus_1 = l3_menu.find(:first)
    end
  else
    l3_menus_1 = Gwsub::Sb06AssignedConfKind.find(@kind_id)
    order = "fyear_id DESC , group_code ASC"
    a_groups = Gwsub::Sb06AssignedConfGroup.order(order).first
    current_fyear_id = 0
    current_fyear_id = a_groups.fyear_id unless a_groups.blank?
    no_register = true if l3_menus_1.fyear_id != current_fyear_id.to_i
  end
  if l3_menus_1
    if @kind_id.to_i==0
    display_title = l3_menus_1.conf_kind_name
    else
    #display_title = %Q(<span style="color:crimson;">#{l3_menus_1.conf_menu_name}</span>)
    #display_title = %Q(<span class="gwsub_current_menu">#{l3_menus_1.conf_menu_name}</span>)
    display_title = %Q(<span>#{l3_menus_1.conf_menu_name}</span>)
    end
    # ヘルプ
    #help_path = "/under_construction.html"
    #help_param = "?help=show&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}&pre_c_cat_id=#{l2_menus_1.id}&c_cat_id=#{l2_menus_1.id}&kind_id=#{l3_menus_1.id}"
    @link_bbs_title ="別ウィンドウ・別タブで説明記事を開きます。"
    help_data   = Gwsub::Sb06AssignedHelp.new
    help_data.and :state, 'enabled'
    help_data.and :help_kind, 2
    help_data.and :conf_cat_id,  l2_menus_1.id
    help_data.and :conf_kind_id, l3_menus_1.id
    help_data.order "sort_no, title"
    help_data1  = help_data.find(:first)
    if help_data1.blank?
      help_path   = '　説明　｜'
    else
      help_path   = %Q(<a href="#{help_data1.bbs_url}" target="_blank" title="#{@link_bbs_title}">#{help_data1.title}</a>)
    end

    param = "?do=new&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}&pre_c_cat_id=#{l2_menus_1.id}&c_cat_id=#{l2_menus_1.id}&kind_id=#{l3_menus_1.id}"
    t01 = %Q(<span>一覧</span>)
    t02 = %Q(<span>登録</span>)
    l01 = url_for({:action => :index})+param
    l02 = "#{url_for({:action => :new})}"+param
    case @l4_current
    when '01'
      t01 = %Q(<span class="gwsub_current_menu">一覧</span>)
    when '02'
      t02 = %Q(<span class="gwsub_current_menu">登録</span>)
    else
    end

    %>
    <div class="menu">
    <!-- <p><%#= display_title %></p> -->
    <%= link_to t01.html_safe , l01 %>
    <%= link_to t02.html_safe , l02 unless no_register%>
    <%= sanitize help_path.html_safe -%>
  <%end%>
<%end%>
</div>
