<%
table_flg = @items.length == 0 ? false : true

@table_str = "<div class=\"notice\">表示する項目はありません。</div>" if !table_flg

@table_str = <<-EOL if table_flg
<table class="index">
<tr>
    <th></th>
    <th></th>
    <th></th>
<th>設備の状態</th>
<th>施設名</th>
<th>利用責任者所属</th>
<th>開始日</th>
<th>終了日</th>
</tr>
EOL

@items.each do |item|

prop_stat = nz(item.prop_stat, "0").to_i
confirmed_url = "/gw/prop_extras/#{item.id}/confirm" + @prop_params
rent_url = "/gw/prop_extras/#{item.id}/rent" + @prop_params
return_url = "/gw/prop_extras/#{item.id}/return" + @prop_params

st_at = item.st_at.to_datetime
ed_at = item.ed_at.to_datetime

case prop_stat
when 0
  rent_str = "貸出"
  return_str = ""
when 1
  rent_str = "貸出"
  return_str = ""
when 2
  rent_str = "貸出<br />取消"
  return_str = "返却"
when 3
  rent_str = ""
  return_str = "返却"
when 4, 5
  rent_str = ""
  return_str = ""
end
@table_str += <<-EOL if table_flg
<tr#{cycle '', ' class="cycle"'}>
<td><a href="/gw/schedules/#{item.schedule_id}/show_one">詳細</a></td>
<td>#{link_to("#{rent_str}", "#{rent_url}") if !rent_str.blank?}</td>
<td>#{link_to("#{return_str}", "#{return_url}") if !return_str.blank?}</td>
<td>#{item.prop_stat_s}</td>
<td>#{item.prop.name}</td>
<td>#{item.schedule.owner_gname}</td>
<td>#{st_at.strftime('%Y-%m-%d') + ' （' + @wdays[st_at.wday] + '） ' + st_at.strftime('%H:%M')}</td>
<td>#{ed_at.strftime('%Y-%m-%d') + ' （' + @wdays[ed_at.wday] + '） ' + ed_at.strftime('%H:%M')}</td>
</tr>
EOL

end
@table_str += "</table>"

%>