<div class="piece AdminMessage">
<div class="pieceHeader">
<h2 class="pieceTitle">全庁幹部在庁表示管理</h2>
</div><!--pieceHeader-->
<div class="pieceBody">

<%= form_for :item, :url => "#{@public_uri}/#{@item.id}", :html => {:method => :put, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= submit_for_update f, :js_submitter => 'my_submit()',:caption => '保存'  %>

<% end %>

</div><!--pieceBody-->
</div><!--piece-->
