<div id="docTab" class="docTab">
<div class="tabs">
<%
uri = ''
@items.each_with_index do |item, idx|
  uri = item.full_url
  if item.published == 'opened'
    current = 'current' if item.tab_keys.to_s == (@piece_param.presence || "1")
    end_tab = 'endTab' if idx == @items.size - 1
    grayout = 'grayout' if item.state == 'disabled'
    uri = '#void' if item.state == 'disabled'

    concat raw link_to(item.name.to_s.html_safe, uri, :class => "tab#{idx+1} #{current} #{grayout} #{end_tab}")
  end
end
concat raw link_to('', uri, :class => 'end')
%>
</div>

<% if controller.parent_controller && controller.parent_controller.controller_name == "portal" %>
<%
if Gw::Property::ScheduleSetting.where(uid: Core.user.id).first_or_new.display_portal_schedule?
  cls = "on"
  link_str = "スケジュールを非表示"
else
  cls = "off"
  link_str = "スケジュールを表示"
end
-%>
<div class="btSchedule">
  <%= link_to link_str, portal_display_gw_schedule_settings_path(url: session[:request_fullpath]), class: cls %>
</div>
</div>
<% end %>
