<div class="copyright">
  <a target="_blank" href="http://joruri.org"><img src="/_common/themes/gw/files/powered.gif" /></a>
  <a class="siteinfo" target="_blank" href="/siteinfo/">接続情報</a>
</div>
