<div class="piece"><h1><a href="/">Joruri Gw</a></h1>
  <div class="personal">
  <% if Core.user %>
    <%=raw %Q(<span class="department">#{Core.user_group.name}</span>) unless Core.user_group.nil? %>
    <span class="name"><%= Core.user.display_name %></span>
  <% end %>
  </div>
  <div class="logout"><a href="/_admin/logout">ログアウト</a></div>
  <%=raw Joruri.config.application['cms.header_link'] %>
  <div class="previousLogin">前回ログイン日時　
    <%= Core.user.previous_login_date ? Core.user.previous_login_date.strftime('%Y-%m-%d %H:%M') : '---' %>
  </div>
</div>
