<ul>
  <li>
    <a href="/" border="0" alt="ポータル" title="ポータル" src="/_common/themes/gw/files/menu/ic_home.gif">
    <img border="0" alt="ポータル" title="ポータル" src="/_common/themes/gw/files/menu/ic_home.gif"><br>
    <a href="/">ポータル</a>
  </li>
  <li>
    <span class="menu_mailer">
    <a href="/_admin/gw/link_sso/65/redirect_pref_pieces" target="_blank" border="0" alt="メール" title="メール" src="/_common/themes/gw/files/menu/ic_mailer.gif">
      <img border="0" alt="メール" title="メール" src="/_common/themes/gw/files/menu/ic_mailer.gif">
    </span><br>
      <a target="_blank" href="/_admin/gw/link_sso/64/redirect_pref_pieces">メール</a>
  </li>
  <li>
    <span class="menu_schedules">
      <a href="/gw/schedules/show_month" border="0" alt="スケジュール" title="スケジュール" src="/_common/themes/gw/files/menu/ic_schedule.gif">
        <img border="0" alt="スケジュール" title="スケジュール" src="/_common/themes/gw/files/menu/ic_schedule.gif">
        <a class="menu_new" href="/gw/schedules/new" border="0" alt="新規作成" title="新規作成" src="/_common/themes/gw/files/schedule/ic_add.gif">
        <img border="0" alt="新規作成" title="新規作成" src="/_common/themes/gw/files/schedule/ic_add.gif">
      </span><br>
      <a href="/gw/schedules/show_month">スケジュール</a>
    </li>
    <li>
      <span class="menu_todo"><a href="/_admin/gw/todos" border="0" alt="ToDo" title="ToDo" src="/_common/themes/gw/files/menu/ic_todo.gif">
        <img border="0" alt="ToDo" title="ToDo" src="/_common/themes/gw/files/menu/ic_todo.gif">
        <a class="menu_new" href="/_admin/gw/todos/new" border="0" alt="新規作成" title="新規作成" src="/_common/themes/gw/files/schedule/ic_add.gif">
          <img border="0" alt="新規作成" title="新規作成" src="/_common/themes/gw/files/schedule/ic_add.gif">
      </span><br>
      <a href="/_admin/gw/todos">ToDo</a>
    </li>
    <li>
      <span class="menu_memo"><a href="/gw/memos" border="0" alt="連絡メモ" title="連絡メモ" src="/_common/themes/gw/files/menu/ic_memo.gif">
        <img border="0" alt="連絡メモ" title="連絡メモ" src="/_common/themes/gw/files/menu/ic_memo.gif">
        <a class="menu_new" href="/_admin/gw/memos/new" border="0" alt="新規作成" title="新規作成" src="/_common/themes/gw/files/schedule/ic_add.gif">
        <img border="0" alt="新規作成" title="新規作成" src="/_common/themes/gw/files/schedule/ic_add.gif">
       </span><br>
      <a href="/gw/memos">連絡メモ</a>
     </li>
     <li>
       <span class="menu_memo">
         <a href="/gwcircular" border="0" alt="回覧板" title="回覧板" src="/_common/themes/gw/files/menu/ic_circulation.gif">
         <img border="0" alt="回覧板" title="回覧板" src="/_common/themes/gw/files/menu/ic_circulation.gif">
        <a class="menu_new" href="/_admin/gwcircular/new" border="0" alt="新規作成" title="新規作成" src="/_common/themes/gw/files/schedule/ic_add.gif">
        <img border="0" alt="新規作成" title="新規作成" src="/_common/themes/gw/files/schedule/ic_add.gif">
      </span><br>
      <a href="/gwcircular">回覧板</a>
    </li>
    <li>
      <span class="menu_memo">
        <a href="/gwmonitor" border="0" alt="照会・回答システム" title="照会・回答システム" src="/_common/themes/gw/files/menu/ic_dennshisyoukai.gif">
        <img border="0" alt="照会・回答システム" title="照会・回答システム" src="/_common/themes/gw/files/menu/ic_dennshisyoukai.gif">
        <a class="menu_new" href="/gwmonitor/builders/new" border="0" alt="新規作成" title="新規作成" src="/_common/themes/gw/files/schedule/ic_add.gif">
        <img border="0" alt="新規作成" title="新規作成" src="/_common/themes/gw/files/schedule/ic_add.gif">
      </span><br>
      <a href="/gwmonitor">照会・回答</a>
    </li>
    <li>
      <a href="/gwbbs" border="0" alt="掲示板" title="掲示板" src="/_common/themes/gw/files/menu/ic_board.gif">
      <img border="0" alt="掲示板" title="掲示板" src="/_common/themes/gw/files/menu/ic_board.gif"><br>
      <a href="/gwbbs">掲示板</a>
    </li>
    <li>
      <a href="/gwfaq" border="0" alt="質問管理" title="質問管理" src="/_common/themes/gw/files/menu/ic_qa-admin.gif">
      <img border="0" alt="質問管理" title="質問管理" src="/_common/themes/gw/files/menu/ic_qa-admin.gif"><br>
      <a href="/gwfaq">質問管理</a>
    </li>
    <li>
      <a href="/doclibrary" border="0" alt="書庫" title="書庫" src="/_common/themes/gw/files/menu/ic_library.gif">
      <img border="0" alt="書庫" title="書庫" src="/_common/themes/gw/files/menu/ic_library.gif"><br>
      <a href="/doclibrary">書庫</a>
    </li>
    <li>
      <a href="/digitallibrary" border="0" alt="電子図書" title="電子図書" src="/_common/themes/gw/files/menu/ic_electronic-book.gif">
      <img border="0" alt="電子図書" title="電子図書" src="/_common/themes/gw/files/menu/ic_electronic-book.gif"><br>
      <a href="/digitallibrary">電子図書</a>
    </li>
    <li>
      <a href="/gw/config_settings" border="0" alt="設定" title="設定" src="/_common/themes/gw/files/menu/ic_system.gif">
      <img border="0" alt="設定" title="設定" src="/_common/themes/gw/files/menu/ic_system.gif"><br>
      <a href="/gw/config_settings">設定</a>
    </li>
    <li>
      <span class="menuDeco">
        <a href="http://drive.deco-project.org/" target="_blank" border="0" alt="DECO Drive" title="DECO Drive" src="/_common/themes/gw/files/menu/ic_deco.gif">
        <img border="0" alt="DECO Drive" title="DECO Drive" src="/_common/themes/gw/files/menu/ic_deco.gif">
      </span><br>
      <a target="_blank" href="http://drive.deco-project.org/">DECO Drive</a>
    </li>
</ul>
