<h1>
<div class="headerSmall">
<%= link_to image_tag('/_common/themes/gw/files/mobile/header-logo-s.gif', { :border => '0', :alt => 'Joruriグループウェア'}), '/' %>
</div>
</h1>
<% if Site.user %>
<span class="name"><%=h Site.user.display_name %></span>
<% end %>

