<!--ここからフッター-->
<div id="footer">
<div id="footerContainer">
<div id="footerHeader"></div>
<div id="footerBody">
<%= render 'layouts/admin/gw/footer' %>
</div>
<div id="footerFooter"></div>
</div>
</div>
<!--ここまでフッター-->