<div class="piece">
<h1><%= link_to '', '/' %></h1>
</div>
<% if Site.user %>
<span class="department"><%=h Site.user_group.name %></span>
<span class="name"><%=h Site.user.display_name %></span>
<% end %>
