<!--ここからフッター-->
<div id="footer">
<div id="footerContainer">
<div id="footerHeader"></div>
<div id="footerBody">
<div class="copyright">
  <a target="_blank" href="http://joruri.org"><img src="/_common/themes/gw/files/powered.gif" /></a>
  <a class="siteinfo" target="_blank" href="/siteinfo/">接続情報</a>
</div>
</div>
<div id="footerFooter"></div>
</div>
</div>
<!--ここまでフッター-->