<div class="gwsub sb06">
<div class="pieceHeader">
<h2>予算担当登録</h2>
</div>
<div class="pieceBanner">
<%#= render 'gwsub/admin/sb06/sb06_submenu' %>
<%= render 'gwsub/admin/sb06/sb06_subfunction_select_menu' %>
<%= render 'gwsub/admin/sb06/sb06_budget_assigns/submenu' %>
</div>
<div class="pieceBody">
<% @action = "create" %>

<%= form_for :item, :url =>url_for({:action => :index}),:action=>:create ,:method=>:post , :html => {:multipart => true} do |f| %>
  <%= render 'form', f: f %>
<% end %>
</div>
</div>
