<table class="show bbsText">
  <tr><th>広報行事予定表示ヘルプリンク</th></tr>
  <tr><td><%= text_field_tag 'item[0][]', @item.help_links[0], :size => '100' %></td></tr>
  <tr><th>会議開催案内ヘルプリンク</th></tr>
  <tr><td><%= text_field_tag 'item[1][]', @item.help_links[1], :size => '100' %></td></tr>
</table>
