<div class="piece AdminSetting">
<%= render 'piece_header' -%>
<div class="pieceBody">
<div class="titleLine">
  <span class="title">一括削除</span>
</div>

<%= form_tag url_for(:action => :select_clear), {:method => :post, :class => :clear} do %>
<div class="indication">
  <div class="state">
    <span>対象 <%= select_tag :func_name, options_for_select(Gw::SectionAdminMasterFuncName.func_name_all_select, params[:func_name]) %></span>
    <%= submit_tag '一括削除', :name => :clear, :data => {:confirm => "指定された主管課の担当者がすべて削除されます。よろしいですか？"} %>
  </div>
</div>
<% end %>

</div>
</div>
