<% if params[:piece_param].blank? %>
<div class="contentBanner"><%=raw @title.banner %></div>
<% else %>
<div class="pieceBanner">
<h3><%= @title.title %></h3>
<%= render :partial => '/digitallibrary/admin/docs/header_help' %>
</div>
<% end %>