<!--<div class="piece gadget bbs">

<div class="pieceHeader"><h3>掲示板</h3></div>

<div class="pieceBody">
<ul>
<%# for item in @items
mobile_path = %Q(#{item.docs_path}&limit=10)
%>

  <li><%#=link_to h(item.title), mobile_path %></li>

<%# end %>
</ul>
<%#=paginate @items %>
</div><!--pieceBody-->
<!--</div>--><!--piece gadget bbs-->
