<div id="schedule_part">
<%=render :partial => '/gw/admin/schedules/smartphone_header', :locals=>{:mode=>'week'}%>
<%=render(:partial => '/gw/admin/schedules/schedule_line_box', :locals=>{:d=>@st_date, :mode=>'week', :move_mode=>:header})%>
<%=render :partial => '/gw/admin/schedules/show_week_smart_phone', :locals=>{:d=>@st_date, :mode=>'week'}%>
<%=render(:partial => '/gw/admin/schedules/schedule_line_box', :locals=>{:d=>@st_date, :mode=>'week', :move_mode=>:footer})%>
</div>

