<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<link rel="icon" href="/favicon.ico" />
<title>Joruri Gw</title>
<%= stylesheet_link_tag '/_common/themes/admin/style' %>
<%= stylesheet_link_tag '/_common/themes/gw/css/gwsub/iconfile.css' %>
</head>
<body>

<%= render 'layouts/admin/gw/notice' %>
<%= yield  %>

</body>
</html>
