<%
medias = Gwsub::Sb05MediaType.select_dd_media_group(nil,'code')
%>
<div class="menu">
<%#*<p>登録　媒体選択</p>%>
<%#*<p>媒体選択</p>%>
<% medias.each do |m| %>
<%
l3_menu =%Q(<span>#{m[0]}</span>)
if @media_code.to_i == m[1].to_i
  l3_menu = %Q(<span class="gwsub_current_menu">#{m[0]}</span>)
end
-%>
<%= link_to l3_menu.html_safe , url_for("#{@index_uri}new?sb05_users_id=#{@user.id}&media_code=#{m[1]}") %>
<% end %>
</div>
