<%
options = @item.options.split(',') rescue []
%>

<table class="show">
<tr>
  <th>対象外とする役職名</th>
  <td>
    <span><span style="color:red;">対象外</span>とする役職名または役職名の一部を、「・」で区切って指定してください。</span><br /><br />
    <%= text_area_tag :positions, options[0], :cols => 100, :rows => 7 %>
  </td>
</tr>
<tr>
  <th>役職名が空白のユーザ</th>
  <td>
    <span>役職名未設定のユーザーを<span style="color:red;">対象外</span>とする場合に、選択してください。（デフォルト）</span><br /><br />
    <%= check_box_tag :select, 1, options[1] == '1' %>対象外とする
  </td>
</tr>
</table>
