@charset "UTF-8";

/* =========================================================
   掲示板カスタマイズ用css設定
   _common/themes/gw/css/temporary/gwdoc_standard.css
========================================================= */

/*掲示板一覧画面
----------------------------------------------- */
/*検索                                           */
form.search {
  background-color:#BEE1F6;
}

/*添付ファイルアイコン                               */
table.docList .Attach {
  background-image:url(/_common/themes/gw/files/attached.jpg);
  background-position:2px 7px;
}
/*一覧                                           */
table.docList th {
  background-color:#BEE1F6;
  border:1px solid #CCCCCC;
  padding:6px 7px;
}
table.docList td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}


/*掲示板詳細画面
----------------------------------------------- */
/*作成者                                         */
table.docCreator {
  margin:10px 0 0;
  width:100%;
  text-align:left;
  vertical-align:top;
}
table.docCreator th {
  background-color:#BEE1F6;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
table.docCreator td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}

/*重要度・分類                                      */
table.docImportance {
  margin:10px 0 0;
  width:100%;
  text-align:left;
  vertical-align:top;
}
table.docImportance th {
  background-color:#BEE1F6;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
table.docImportance td {
  background-color:#BEE1F6;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}


/*タイトル                                        */
table.docUserformTitle {
  margin:10px 0 0;
  width:100%;
  text-align:left;
  vertical-align:top;
}
table.docUserformTitle th {
  background-color:#6182DA;
  color: #FFFFFF;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
table.docUserformTitle td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}

/*記事                                        */
table.docUserformBody {
  margin:10px 0 0;
  width:100%;
  text-align:left;
  vertical-align:top;
}
table.docUserformBody th {
  background-color:#6182DA;
  color: #FFFFFF;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
table.docUserformBody td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}

/*添付ファイルリスト                              */
table.docAttachlist {
  margin:10px 0 0;
  width:100%;
  text-align:left;
  vertical-align:top;
}
table.docAttachlist th {
  background-color:#BEE1F6;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
table.docAttachlist td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
