<div class="docsInnerBox">
<table class="bbsCommentlist">
  <tr>
    <th class = "comment">コメント</th>
    <!--<th class="order">順番</th>
    <th class="daytime">登録日時</th>
    <th class="delete"></th>-->
  </tr>
  <% @item.comments.each.with_index(1) do |item, i| %>
  <tr>
    <td class="comment">
      <%= item.body %><br />
      <span>
      <%= item.creater_or_editor_label %><br />
      <%= item.created_at.strftime('%Y-%m-%d %H:%M') %>
      </span>
    </td>
  </tr>
  <% end %>
</table>
</div>
