<%unless @recogusers.blank?%>
<div class="docsInnerBox">
<table class="bbsCreator">
<tr>
<th style="width: 130px;">承認者</th>
<td>
<% for recoguser in @recogusers %>
<%=%Q[#{recoguser.name} /]%>
<%=
if recoguser.recognized_at.blank?
  '未承認'
else
  %Q[承認日時:#{recoguser.recognized_at.strftime('%Y-%m-%d %H:%M').to_s}]
end
%>
<br />
<%end%>
</td>
</tr>
</table>
</div>
<%end%>