<div class="piece bbs index">
<div class="pieceHeader">
<h2><%= @title.title if @title %></h2>
</div><!--pieceHeader-->
<div class="pieceBody">
<div class="pieceBodyBody">
<%= render @title.gwbbs_form_name + 'index' %><br />
<%= paginate @items %>

</div><!--pieceBodyBody-->
</div><!--pieceBody-->
</div><!--piece-->
