<table class="show">
  <tr>
    <th>【名称】</th>
    <td><%= @item.title %></td>
  </tr>
  <tr>
    <th>【対象となるOS】</th>
    <td><%= @item.inpfld_002 %></td>
  </tr>
  <tr>
    <th>【概要】</th>
    <% if @item.wiki_enabled? -%>
      <td class="wiki"><%== wiki_show @item.body -%></td>
    <% else -%>
      <td><%== @item.body -%></td>
    <% end -%>
  </tr>
</table>
