<table class="show">
  <tr><th>【名称】</th></tr>
  <tr><td><%= @item.title %></td></tr>
  <tr><th>【対象となるOS】</th></tr>
  <tr><td><%= @item.inpfld_002 %></td></tr>
  <tr><th>【概要】</th></tr>
  <tr><td><%= convert_for_mobile_body(@item.body, params[:_jgw_session]) %></td></tr>
</table>
