<div class="tabBox">
<table class="tabtable">
<tbody>
<tr><td class="spaceLeft"></td>
  <td class="tab current">登録設定</td>
  <td class="spaceRight"></td></tr>
</tbody>
</table>
</div><!--tabBox-->