/* base */

* {
  font-size: 1em;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  border: 0px none;
  font-size: 80%;
  height: 100%;
}

body, td, th, select, option {
  font-family: "MS PGothic","ＭＳ Ｐゴシック",Arial,Verdana,Osaka,sans-serif;
  font-weight: lighter;
}

input, textarea {
  font-family: Arial,sans-serif;
  font-size: 110%;
}

blockquote {
  margin: 10px 20px;
}

h1, h2, h3, h4, h5 {
  font-family: verdana;
  font-size: 120%;
}

img {
  border-style: none;
}

pre {
  font-family:  SimHei,"ＭＳ ゴシック",monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  empty-cells: show;


}

ul {
  list-style-position: outside;
  list-style-type: none;
}

#container {
  margin: 0px auto;
}

* html #container {
}
  

#header {


}

#headerBody {

}

#banner {

  clear: both;
  border-top: 5px solid #ffff00;
}

#bannerBody {

}

#navi {

}

#naviBody {

}

#main {
  clear: both;
  margin: 10px 0px 0px 0px;
}


/*#mainBody {

}*/


#wrapper {
  width: 100%;
  clear: both;
  margin: 0px;
  padding: 0px;
}


#content {
  float: right;
  width: 100%;
  margin-left: -210px;
  padding: 0px;
}

#contentContainer {
  margin-left: 210px;
  padding: 0px 10px 0px 0px;

}


#menu {
  float: left;
  width: 200px;
  margin: 0px;
  padding: 0px;
  background: #ffdddd;
}

#menuContainer {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
}


#links {
  display: none;
}

#linksContainer {
  display: none;
}

#footer {
  clear: both;
  width: 100%;
  margin: 0px;
  paddiing: 0px;
}

#footerContainer {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#footerBody {
  background: #011C75;
  padding-top:3px;
}



/*---------------------------
  Header style
---------------------------*/
h1 {
  display: inline;
  font-size: 140%;
  letter-spacing: 0.3em;
  padding: 10px 0px 0px 5px;
}

#header .piace {
  display: inline;
  position:absolute;
  top: 5px;
}


.search {
  padding: 5px;
  text-align: right;
  background: #ffff00;
}

#headerMenu ul {

}

#headerMenu li {
  float: left;
  text-align: center;
  width:70px;
  padding: 10px 5px 10px 5px;
  white-space: nowrap;
}




/*---------------------------
  tab style
---------------------------*/
#docTab table {
  margin-top: 10px;
}

#docTab td {
  border-bottom: 1px solid #333333;
  white-space: nowrap;
  padding: 5px;
}

#docTab td.tab {
  border: 1px solid #dddddd;
  border-bottom: 1px solid #333333;
  text-align: center;

  white-space: nowrap;
}

#docTab td.tabadd {
  text-align: center;
}

#docTab td.current {
  border-bottom: none;
  border: 1px solid #333333;
  border-bottom: none;
}


#docTab td.tableftspace {
  width: 0px;
  padding: 5px 5px 5px 0px;
}

#docTab td.tabspace {
  width: 100%;
}


/*---------------------------
  schedule style
---------------------------*/
#schedule .pieceHeader table {
  margin: 20px 10px 10px 10px;
  border: 1px solid #D6D6D6;
}

#schedule .pieceHeader th {
  background: #E1E7FF;
  border: 1px solid #D6D6D6;
  padding: 5px;
  text-align:left;
  width: 100%;
  font-weight: bold;
}

#schedule .pieceHeader td {
  padding: 5px;
  white-space: nowrap;
  border-bottom: 1px solid #D6D6D6;
}

#schedule .pieceHeader td.date-today {
  width: 100%;
  text-align: center;
}


#schedule .pieceBody table {
  margin: 0px 0px 10px 10px;
  width: 98%;
  border: 1px solid #D6D6D6;
}

#schedule .pieceBody th {

  padding: 5px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #D6D6D6;

}

#schedule .pieceBody th.weekday {
  background: #FEFFB3;
}

#schedule .pieceBody th.holiday {
  background: #FBE1EC;
}

#schedule .pieceBody th.sunday {
  background: #FBE1EC;
}

#schedule .pieceBody th.saturday {
  background: #C8EBF1;
}

#schedule .pieceBody td {
  padding: 5px;
  text-align: left;
  border: 1px solid #D6D6D6;
  height: 150px;
  verticle-align: middle;
}


/*---------------------------
  main piece style
---------------------------*/
#content .piece {
  margin-bottom: 20px;
  border: 1px solid #999999;
}

#content .pieceHeader {
  background-color: #ffffff;
  border-bottom:1px solid #9EACD3;
  padding: 1px;
}

#content .pieceHeader .title {
  background-color: #E1E7FF;
  padding:5px;
  color: #3333CC;
  font-weight: bold;
}

#content .pieceBody {
  padding:5px;
}


/*---------------------------
  footer style
---------------------------*/
.copyright {
  width: 100%;
  text-align: center;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  padding: 5px 0px;
}



































