<div class="gwsub sb05">
<%= render 'gwsub/admin/sb05/sb05_piece_header' %>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb05/sb05_requests_put/menu' %>
</div>
<div class="pieceBody">
<%= render 'gwsub/admin/sb05/sb05_requests_user' %>
<%= render 'gwsub/admin/sb05/sb05_requests_finished/show1' %>
</div>
</div>
