<div class="piece bbs">
<div class="pieceHeader">
<h2>掲示板</h2>
</div>
<div class="pieceBody">
<%= form_for :item, :url => gwbbs_maker_path(@item),:method=>:put, :html => {:multipart => true, :id => 'itemForm'} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%#このsubmitはJSを呼んで更新処理をかけているので変更してはいけない%>
<%= submit_for(f,{:caption=>'編集する', :js_submitter => 'my_submit()'}) %>

<% end %>
</div>
</div><!--piece gwfaq-->
