<%
link_url1 = url_for({:action => :index})
link_url2 = url_for({:action => :new})

link_str1 = %Q(<span>一覧</span>)
if @l3_current  ==  '01'
  link_str1 = %Q(<span class="gwsub_current_menu">一覧</span>)
end

link_str2 = nil
# システム管理者・予算担当管理者は管理者登録可能
b_role_admin  = Gwsub::Sb06BudgetRole.budget_admin?( Core.user.id )
b_role = @u_role || b_role_admin
if b_role ==  true
  link_str2 = %Q(<span>登録</span>)
  if @l3_current  ==  '02'
    link_str2 = %Q(<span class="gwsub_current_menu">登録</span>)
  end
end
-%>
<% unless link_str1.blank? %>
<div class="menu">
<%= link_to link_str1.html_safe , link_url1  unless link_str1.blank? %>
<%= link_to link_str2.html_safe , link_url2  unless link_str2.blank? %>
</div>
<% end %>
