<%#*<h1>Gwsub::Public::Sb01::Sb01Trainings#index</h1>%>
<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_trainings/index.html.erb</p>%>
<%
options =  {  'table_name'      => 'gwsub_sb01_trainings',  :action=>'index',  'link_to_show'    => 1}
options['field_td_criteria'] = {
  'title' => Proc.new{|item|
      %Q(#{item.title})
    }
}
%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb01/sb01_trainings/menu' %>
</div>
<div class="pieceBody">
<%= raw(%Q(<div class="notice">#{flash[:notice]}</div>)) unless flash[:notice].blank? %>
<%= raw(table_to_index2(@items, options)) %>
<br/>
<%= paginate @items %>
<br/>
</div>
</div>