<%
options =  {  'table_name'      => 'gwsub_sb01_trainings',  :action=>'index',  'link_to_show'    => 1}
options['field_td_criteria'] = {
  'title' => Proc.new{|item|
      %Q(#{item.title})
    }
}
%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render 'gwsub/admin/sb01/sb01_trainings/menu' %>
</div>
<div class="pieceBody">
<%= raw(table_to_index2(@items, options)) %>
<br/>
<%= paginate @items %>
<br/>
</div>
</div>
