<%#*<h1>Gwsub::Public::Sb01::Sb01Trainings#index</h1>%>
<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_trainings/index.html.erb</p>%>
<%
today = Time.now
options =  {  'table_name'      => 'gwsub_sb01_trainings',  :action=>'index',  'link_to_show'    => 1}
options['field_td_criteria'] = {
  'title' => Proc.new{|item|
     %Q(#{h item.title})
    },
  'state' => Proc.new{|item|
    str = ass{item.state_label}
    if item.state == '3'
      %Q(#{str})
    else
      t_skd = Gwsub::Sb01TrainingSchedule.find(:first, :conditions => ['training_id = ?',item.id],:order => 'IF( ISNULL( from_start ) , 1, 0 ) ASC , from_start DESC ')
      if t_skd.blank?
        ass{%Q(#{str})}
      else
        if t_skd.from_start.blank? || today.blank?
          ass{%Q(#{str})}
        else
          if t_skd.from_start < today
            ass{%Q(<span class="required">#{str}</span>)}
          else
            ass{%Q(#{str})}
          end
        end
      end
    end
    },
  '_last_date' => Proc.new{|item|
    t_skd = Gwsub::Sb01TrainingSchedule.find(:first, :conditions => ['training_id = ?',item.id],:order => 'IF( ISNULL( from_start ) , 1, 0 ) ASC , from_start DESC ')
    if t_skd.blank?
      ""
    else
      if t_skd.from_start.blank? || today.blank?
        ""
      else
        if t_skd.from_start < today
            if t_skd.from_start.blank?
              ""
            else
              %Q(<span class="required">#{t_skd.from_start.strftime("%Y-%m-%d")} (#{Gw.weekday(t_skd.from_start.wday)})</span>)
            end
        else
            if t_skd.from_start.blank?
              ""
            else
              %Q(#{t_skd.from_start.strftime("%Y-%m-%d")} (#{Gw.weekday(t_skd.from_start.wday)}))
            end
        end
      end
    end
  }
}

%>
<div class="gwsub sb01">
<div class="pieceHeader">
<h2>研修申込・受付</h2>
</div>
<div class="pieceBanner">
<%= render :partial => 'gwsub/admin/sb01/sb01_trainings/menu' %>
</div>
<div class="pieceBody">
<%= raw(%Q(<div class="notice">#{flash[:notice]}</div>)) unless flash[:notice].blank? %>
<%= raw(table_to_index2(@items, options)) %>
<br/>
<%= paginate @items %>
<br/>
</div>
</div>