<div class="editingBox">
  <span class="btNewDoc"><%= link_to '文書追加', "#{doclibrary_categories_path}/new?parent_id=#{params[:parent_id]}&title_id=#{params[:title_id]}" %></span>
  <span class="docLink"><a class="" href='/doclibrary/cabinets/<%="#{params[:title_id]}"%>'>書庫詳細へ >></a></span>
</div>
