<%
# メニュー２行目
if @c_cat_id.to_i==0
  l2_menus_1 = Gwsub::Sb06AssignedConfCategory.order(:cat_sort_no).first
else
  l2_menus_1 = Gwsub::Sb06AssignedConfCategory.find(@c_cat_id)
end
# メニュー３行目
if @kind_id.to_i==0
  l3_menus_1 = Gwsub::Sb06AssignedConfKind.where(conf_cat_id: l2_menus_1.id, fyear_id: @fy_i).order(:conf_kind_sort_no).first
else
  l3_menus_1 = Gwsub::Sb06AssignedConfKind.find(@kind_id)
end
# メニュー４行目
if @help
  display_title = %Q(<span>#{@menu_title3}</span>)
  case @help
  when 'admin'
    param = "?help=#{@help}&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}&pre_c_cat_id=#{l2_menus_1.id}&c_cat_id=#{l2_menus_1.id}"
  when 'main_admin'
    param = "?help=#{@help}&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}&pre_c_cat_id=#{l2_menus_1.id}&c_cat_id=#{l2_menus_1.id}&kind_id=#{l3_menus_1.id}"
  else
    param = "?help=#{@help}&pre_fy_id=#{@fy_id}&fy_id=#{@fy_id}&pre_c_cat_id=#{l2_menus_1.id}&c_cat_id=#{l2_menus_1.id}&kind_id=#{l3_menus_1.id}"
  end
else
  display_title = %Q(<span>#{@menu_title3}</span>)
end
t01 = %Q(<span>一覧</span>)
t02 = %Q(<span>登録</span>)
case @l4_current
when '01'
  t01 = %Q(<span class="gwsub_current_menu">一覧</span>)
when '02'
  t02 = %Q(<span class="gwsub_current_menu">登録</span>)
else
end
%>
<div class="menu">
  <!-- <p><%#= display_title %></p> -->
<%= link_to t01.html_safe , url_for(url_for({:action => :index})+param ) %>
<%= link_to t02.html_safe , url_for("#{url_for({:action => :index})}/new"+param ) %>
</div>
