<%if @title.content_id == 9%>
<!--用地保証Q&Aのみcontent_id == 9を設定-->
<%
@answer_files = answer_attach_files(@answer.id)
dsp_flag = false
for item in @answer_files
  dsp_flag = true unless item.is_image  #画像以外のファイルがある時は表示する
end unless @answer_files.blank?
%>
<%if dsp_flag %>
<div class="docsInnerBox2">
<table class="gwboardAttachlist">
<tr><th colspan="2">添付ファイル名</th></tr>
<%
for item in @answer_files
  download_url = "#{item.file_uri(item.system_name)}" if @title.upload_system == 1
  download_url = "#{item.file_uri(item.system_name)}" if @title.upload_system == 2
  unless @title.upload_system == 1
    download_url = "/_admin/gwboard/receipts/#{item.id}/download_object?system=#{item.system_name}&title_id=#{item.title_id}"
  end unless @title.upload_system == 2
%>
<%unless item.is_image %>
 <tr>
 <td style="width:30px;" class="attachIcon"><%= link_to('',download_url,:class => item.icon_type) %></td>
 <td><%= link_to(%Q[#{item.filename} (#{item.eng_unit})],download_url) %></td>
 </tr>
<%end%>
<%
end %>
</table>
</div>
<%end%>

<%end%>
