<%

link_s = %Q(<span class="current_menu">)
link_s_end = %Q(</span>)

lnks1 = (@hedder4lnk == 1 ? "#{link_s}実績一覧#{link_s_end}" : "<span>実績一覧</span>")
lnks2 = (@hedder4lnk == 2 ? "#{link_s}会議室等別実績一覧#{link_s_end}" : "<span>会議室等別実績一覧</span>")
lnks3 = (@hedder4lnk == 3 ? "#{link_s}所属別実績一覧#{link_s_end}" : "<span>所属別実績一覧</span>")
lnks4 = (@hedder4lnk == 4 ? "#{link_s}集計#{link_s_end}" : "<span>集計</span>")
lnks5 = (@hedder4lnk == 5 ? "#{link_s}実績データ出力#{link_s_end}" : "<span>実績データ出力</span>")
%>
<div class="menu">
<!-- <p>実績管理</p> -->
<%=link_to lnks1.html_safe, "#{@uri_base}"%>
<%=link_to lnks2.html_safe, "#{@uri_base}?order=prop"%>
<%=link_to lnks3.html_safe, "#{@uri_base}?order=group"%>
</div>
