<%
#concat render 'header'
header = <<-EOL
<div class="title">#{@title_s}</div>
EOL

location = "#{Site.current_node.public_uri}#{@action}"
case @action
when :summarize
  finished_title_s = '集計完了'
  last_month = Gw::PropExtraPmMeetingroomSummarizeHistory.find(:first, :select=>'max(end_at) as last_month').last_month
  last_month = last_month.to_date if !last_month.blank?
  finished_s = last_month.blank? ? '集計されていません' : "#{Gw.date_format('%Y年%m月まで集計済です', last_month)}"
  cond = 'coalesce(summaries_state,2)!=1'
  not_finished_title_s = '未集計実績データ'
when :csvput
  finished_title_s = '請求完了'
  last_month = Gw::PropExtraPmMeetingroomCsvputHistory.find(:first, :select=>'max(end_at) as last_month').last_month
  last_month = last_month.to_date if !last_month.blank?
  finished_s = last_month.blank? ? '請求されていません' : "#{Gw.date_format('%Y年%m月まで請求済です', last_month)}"
  cond = 'coalesce(bill_state,2)!=1'
  not_finished_title_s = '未請求実績データ'
else
  raise "action '#{@action}' incorrect."
end

value = nz(last_month, Time.now)
value = Gw.to_time(value)
this_year = Date.today.year
years_a = ((this_year - 5)..(this_year + 5)).to_a

actuals = Gw::PropExtraPmMeetingroomActual.find(:first, :select=>'min(end_at) as min_m, max(end_at) as max_m',
  :conditions=>cond)
min_m = actuals.min_m.nil? ? nil : actuals.min_m.to_date
max_m = actuals.max_m.nil? ? nil : actuals.max_m.to_date
not_finished_s = max_m.blank? ? 'ありません' :
  min_m == max_m ? "#{Gw.date_format('%Y年%m月', min_m)}" :
  "#{Gw.date_format('%Y年%m月', min_m)}～#{Gw.date_format('%Y年%m月', max_m)}"
content_for :summarize_form do
  form_tag location, {:method=>:get , :multipart => true} do
    concat <<-EOL
#{hidden_field_tag('item[action]','exec')}
#{@pre_phrase}
対象期間<br/>
<table class="show">
<tr><th>#{finished_title_s}</th><td>#{finished_s}</td></tr>
<tr><th>#{not_finished_title_s}</th><td>#{not_finished_s}</td></tr>
<tr><th>開始月</th><td>#{select_tag("item[st_at_year]", options_for_select(years_a, value.year))}年 #{select_tag("item[st_at_month]", options_for_select(1..12, value.month))}月</td></tr>
<tr><th>終了月</th><td>#{select_tag("item[ed_at_year]", options_for_select(years_a, value.year))}年 #{select_tag("item[ed_at_month]", options_for_select(1..12, value.month))}月</td></tr>
</table>
<div class="submitters">#{submit_tag '実行', :name => @action}</div>
EOL
  end
end
body = {:body=>@content_for_summarize_form}
concat hhbff_struct('prop_extra pm_meetingrooms', :summarize_form, :header=>header, :body=>body)
%>
