<div class="piece gadget bbs">
<div class="pieceHeader"><h3>記事更新情報</h3></div>
<div class="pieceBody">
<%
if @none_dsp
  concat raw '<div style="color: #080;">表示する内容はありません。</div>'
else
  concat raw '<table cellspacing="0" cellpadding="0" class="index">'
  if @bbs_docs
    concat raw %Q(<tr><td style="width: 60px;">掲示板</td><td class="title">#{link_to(@bbs_docs,"/syntheses?system=gwbbs")}</td></tr>)
  end
  if @faq_docs
    concat raw %Q(<tr><td style="width: 60px;">ＦＡＱ</td><td class="title">#{link_to(@faq_docs,"/syntheses?system=gwfaq")}</td></tr>)
  end
  if @qa_docs
    concat raw %Q(<tr><td style="width: 60px;">Ｑ＆Ａ</td><td class="title">#{link_to(@qa_docs,"/syntheses?system=gwqa")}</td></tr>)
  end
  if @doclib_docs
    concat raw %Q(<tr><td style="width: 60px;">書庫</td><td class="title">#{link_to(@doclib_docs,"/syntheses?system=doclibrary")}</td></tr>)
  end
  if @digitallib_docs
    concat raw %Q(<tr><td style="width: 60px;">電子図書</td><td class="title">#{link_to(@digitallib_docs,"/syntheses?system=digitallibrary")}</td></tr>)
  end
  concat raw '</table>'
end
%>
</div>
</div>