<%display_supervise =  Gw::Controller::Mobile.get_board_system_items('gwbbs',48)
#unless @title.blank?%>
<%#
if @items.length > 0
  brk_key = nil
  idx = 1
  @items.each do |item|
    break if idx > @limit_portal.to_i - 1
    unless brk_key == item.latest_updated_at.strftime('%Y-%m-%d').to_s
      #concat %Q(#{item.latest_updated_at.strftime('%Y-%m-%d').to_s}<br />)
    end
    if item.importance.to_i == 1
      importance_str = ''
    else
      importance_str = %Q(<span>#{item.importance}</span>)
    end
    if item.attachmentfile.to_i == 0
      attachmentfile_str = ''
    else
      attachmentfile_str = %Q(<span>#{item.attachmentfile}</span>)
    end
    if item.one_line_note.to_i == 0
      comment_str = ''
    else
      if item.comment.count.to_i==0
        comment_str = %Q(<span>　</span>)
      else
        comment_str = %Q(<span>#{item.comment.count}</span>)
      end
    end
    #concat %Q(#{importance_str}<br />)
    ##concat %Q(#{link_to(hbr(item.title), item.portal_show_path + "&limit=10" )}<br />)
    #concat %Q(#{attachmentfile_str}<br />)
    #concat %Q(#{comment_str}<br />)
    #concat %Q(#{item.section_name}<br />)
    #brk_key = item.latest_updated_at.strftime('%Y-%m-%d').to_s
    idx = idx + 1
  end
else
  ##concat '<div class="pieceBody" style="color: #080;">表示する内容はありません。</div>'
end
%>
 <%# if @items.length > 3 -%>
  <!--<div class="bbsContinue">
  </div>
  <%#end -%>-->
<%#end%>
<p class="mobileRem"><%= link_to @title.title,"/gwbbs/docs?title_id=1&limit=10"  %></p>
<p class="mobileRem"><%= link_to '災害対応用掲示板',"/gwbbs/docs?title_id=36&limit=10"  %></p>
<% if display_supervise==true%>
<p class="mobileRem"><%= link_to '主管課掲示板',"/gwbbs/docs?title_id=48&limit=10"  %></p>
<%end%>
