<% if @title.category == 1 -%>
  <h3 class="iconSideCategory"><%= @title.display_category1_name -%>
    <span class="<%= 'current' if params[:state] == 'CATEGORY' %>">
      <%= link_to @title.display_category1_name, "#{gwfaq_docs_path({:title_id=>@title.id})}&state=CATEGORY" -%>
    </span>
  </h3>
  <ul>
    <% @categories1.each do |cat| -%>
      <% cat_count = "・#{cat.name}(#{@category_doc_counts[cat.id].to_i})" -%>
      <li><%= link_to cat_count, gwfaq_docs_path(title_id: @title.id) + "&state=CATEGORY&cat1=#{cat.id}" -%></li>
    <% end -%>
  </ul>
<% end %>
