<%
  categ_name = '分類'
  categ_name = @title.category1_name unless @title.category1_name.blank?
%>
<%if @title.category == 1 -%>
  <h3 class="iconSideCategory"><%=categ_name -%><span class="<%= 'current' if params[:state] == 'CATEGORY'%>"><%=link_to(categ_name, "#{gwfaq_docs_path({:title_id=>@title.id})}&state=CATEGORY") -%></span></h3>
  <%lcnt = 0 -%>
  <ul>
  <% for cat in @categories1 -%>
      <%cat_count = "・#{cat.name}(#{gwqa_category_count( cat[:id])})" -%>
    <li>
      <%=link_to(cat_count, gwfaq_docs_path({:title_id=>@title.id}) + "&state=CATEGORY&cat1=#{cat[:id]}") -%>
    </li>
      <%lcnt = lcnt + 1 -%>
  <% end -%>
  </ul>
<%end%>
