<h3 class="iconSideGroup">所属<span class="<%= 'current' if params[:state] == 'GROUP'%>"><%=link_to('所属', "#{@title.docs_path}&state=GROUP")%></span></h3>
<ul>
<% for grp_item in @grp_items %>
  <%group_name = "・#{gwbd_group_name_by_code(@groups, grp_item)}(#{grp_item.cnt})"%>
  <%=link_to(group_name, gwfaq_docs_path({:title_id=>@title.id}) + "&state=GROUP&grp=#{grp_item.section_code}")%><br />
<% end %>
</ul>