<%
# メニュー表示文字列初期値
m_060201_label  = %Q(<span>担当者名申請</span>)
m_060202_label  = %Q(<span>操作説明等</span>)
m_060203_label  = %Q(<span>操作説明等管理</span>)
m_060204_label  = %Q(<span>コード管理</span>)
case @l1_current
when '01'
m_060201_label  = %Q(<span class="gwsub_current_menu">担当者名申請</span>)
when '02'
m_060202_label  = %Q(<span class="gwsub_current_menu">操作説明等</span>)
when '03'
m_060203_label  = %Q(<span class="gwsub_current_menu">操作説明等管理</span>)
when '04'
m_060204_label  = %Q(<span class="gwsub_current_menu">コード管理</span>)
else
end
# メニューurl　設定
@link_bbs_title ="別ウィンドウ・別タブで説明記事を開きます。"

help_data   = Gwsub::Sb06AssignedHelp.new
help_data.and :state, 'enabled'
help_data.and :help_kind, 1
help_data.and :conf_cat_id, 0
help_data.and :conf_kind_id, 0
help_data.order "sort_no, title "
help_data1  = help_data.find(:first)
if help_data1.blank?
  help_path1   = "　#{m_060202_label}　｜"
else
  if @l1_current=='02'
    m_060202_label  = %Q(<span>#{help_data1.title}</span>)
  else
    m_060202_label  = %Q(<span class="gwsub_current_menu">#{help_data1.title}</span>)
  end
  help_path1   = %Q(<a href="#{help_data1.bbs_url}" target="_blank" title="#{@link_bbs_title}">#{help_data1.title}</a>)
end

help_param2  = "?help=admin&help_kind=1"
help_path2   = %Q(<a href="/gwsub/sb06/sb06_assigned_helps#{help_param2}">#{m_060203_label}</a>)

m01 = "/gwsub/sb06/sb06_assigned_conferences"
#m02 = help_path1
#m03 = help_path2
m04 = "/gwsub/sb06/sb0606menu"
%>
<div class="menu">
<!-- <p>担当者名等管理</p> -->
<%= link_to m_060201_label.html_safe, url_for(m01) -%>
<%= sanitize help_path1.html_safe -%>
<%= sanitize help_path2.html_safe if @u_role==true -%>
<%= link_to m_060204_label.html_safe, url_for(m04) if @u_role==true -%>
</div>
