<%if is_manager==true%>
<table class="show">
<tr>
  <th>管理所属</th>
  <td>
<%
if @item.fyear_id.to_i==0
  g_fyear = Gw::YearFiscalJp.get_record(Time.now)
else
  g_fyear =Gw::YearFiscalJp.find(@item.fyear_id)
end

p_cond = "level_no = 2 AND start_at <= '#{g_fyear.end_at.strftime('%Y')}-03-31 23:59:59' "
p_cond += "AND (end_at IS NULL OR end_at >= '#{g_fyear.end_at.strftime('%Y')}-03-31 23:59:59')"
p_groups = System::GroupHistory.where(p_cond).order("code")

admin_groups = []
level_no = 3
p_groups.each do |p|
  cond = "parent_id = #{p.id} AND level_no = #{level_no} AND start_at <= '#{g_fyear.end_at.strftime('%Y')}-03-31 23:59:59' "
  cond += "AND (end_at IS NULL OR end_at >= '#{g_fyear.end_at.strftime('%Y')}-03-31 23:59:59')"
  c_groups = System::GroupHistory.where(cond).order("code")
  admin_groups += c_groups.collect{|x| ["(#{x.code})#{x.name}", x.id]} unless c_groups.blank?
end


%>
    <%= f.select( :admin_group_id,options_for_select(admin_groups, @item.admin_group_id), :include_blank => false) %>
  </td>
</tr>
</table>
<%else%>
<%= f.hidden_field :admin_group_id -%>
<%end%>
