<%
@budget_role  = false
case @menu_header3
when 'sb0606menu'
  # 担当者名等管理のコード管理
  @budget_role  = true
when 'sb06_budget_assign_admins'
  # 予算担当登録の管理者登録
  @budget_role  = @budget_admin
when 'sb06_budget_assign_mains'
  # 予算担当登録の主管課登録
  #   管理者メニューなので、常にtrue
  @budget_role  = true
when 'sb06_budget_assigns'
  # 予算担当登録
  if @budget_admin==true
    # 管理者はtrue
        @budget_role  = true
  else
    if @budget_main==true
      # 主管課は、同一部局（同じ親）に対してtrue
      group = System::GroupHistory.find(Core.user_group.id)
      if @item.group_parent_id.to_i  == group.parent_id.to_i
        @budget_role  = true
      else
        @budget_role  = false
      end
    else
      # 一般は、同じ所属に対してtrue
      group = System::GroupHistory.find(Core.user_group.id)
      if @item.group_id.to_i  == group.id.to_i
        @budget_role  = true
      else
        @budget_role  = false
      end
    end
  end
else
    @budget_role  = false
end
case @menu_header4
when 'sb06_budget_roles','sb06_budget_editable_dates'
  # 予算担当登録の権限設定・期限設定
  @budget_role = @u_role
else
#  @budget_role = @u_role
end
if @qs and !@qs.blank?
  options={:qs=>@qs}
else
  options = {}
end
-%>

<% if @budget_role==true -%>
<div class="showMenu">
<%= link_to_edit(@item.id , '編集' , options) -%>
<%= link_to_destroy(@item.id ,'削除' , options ) if @u_role==true -%>
</div>
<% end -%>
