<%
case @menu_header3
when 'sb0605menu'
  link_str1 = %Q(<span class="gwsub_current_menu">一覧</span>)
  link_url1 = '/gwsub/sb06/sb0605menu'
  link_str2 = nil
  link_url2 = nil
when 'sb06_budget_notices'
  if @v=='2'
    link_str1 = %Q(<span>一覧</span>)
    link_url1 = "#{url_for({:action => :index})}?v=2"
    link_str2 = nil
    link_url2 = nil
    case @l2_current
    when  '01'
      link_str1 = %Q(<span class="gwsub_current_menu">一覧</span>)
    else
    end
  else
    link_str1 = %Q(<span>一覧</span>)
    link_url1 = url_for({:action => :index})
    link_str2 = %Q(<span>登録</span>)
    link_url2 = url_for({:action => :new})
    case @l2_current
    when  '01'
      link_str1 = %Q(<span class="gwsub_current_menu">一覧</span>)
    when  '02'
      link_str2 = %Q(<span class="gwsub_current_menu">登録</span>)
    else
    end
  end
when 'sb06_budget_assign_csvput'
  link_str1 = nil
  link_url1 = nil
  link_str2 = nil
  link_url2 = nil
else
  link_str1 = %Q(<span>一覧</span>)
  link_url1 = url_for({:action => :index})
  link_str2 = nil
  link_url2 = nil
  case @l2_current
  when  '01'
    link_str1 = %Q(<span class="gwsub_current_menu">一覧</span>)
  else
  end
end
%>
<%#= render 'gwsub/admin/sb06/sb06_subfunction_select_menu' %>
<% unless link_str1.blank? %>
<div class="menu">
<%= link_to link_str1.html_safe , link_url1  unless link_str1.blank? %>
<%= link_to link_str2.html_safe , link_url2  unless link_str2.blank? %>
</div>
<% end %>
