<%-
# コード管理　url
l01 = url_for({:action => :index})
l02 = url_for({:action => :new})

# コード管理メニュー
t01 = %Q(<span>選択データ管理</span>)
t02 = %Q(<span>マスターコピー</span>)
# 選択位置判定
case @l2_current
when '01'
  t01 = %Q(<span class="gwsub_current_menu">選択データ管理</span>)
when '02'
  t02 = %Q(<span class="gwsub_current_menu">マスターコピー</span>)
else
end
# 無効メニュークリア
t02 = nil if !@menu_header4.blank?

-%>
<div class="menu">
<!-- <p><%#=h "#{@menu_title4}" %></p> -->
<%= link_to t01.html_safe , l01 %>
<%= link_to t02.html_safe , l02,:confirm=>"#{@current_fyear.namejp_f}分を#{@prev_fyear.namejp_f}分からコピーで登録します。#{@current_fyear.namejp_f}分の登録済データは削除されます。よろしいですか？"  if !t02.blank? && !@current_fyear.blank? && !@prev_fyear.blank? %>
</div>
