<%if is_manager==true%>
<tr>
<th>管理所属</th>
<td>
<%
admin_group = System::Group.where("id = ? AND state = 'enabled' AND end_at IS NULL", @item.admin_group_id).first
if admin_group.blank?
  admin_group_name = "<span class='required'>#{@item.admin_group_code}#{@item.admin_group_name}</span>"
else
  admin_group_name = "#{@item.admin_group_code}#{@item.admin_group_name}"
end
  %>
<%= admin_group_name %>
</td>
</tr>
<%end%>