<%
# url
l01 = "/gwsub/sb06/sb06_budget_assigns"
l02 = "/gwsub/sb06/sb06_budget_notices?v=2"
l03 = "/gwsub/sb06/sb0605menu"
#l04 = "/gwsub/sb06/sb06_budget_assign_admins"
#l05 = "/gwsub/sb06/sb06_budget_assign_mains"
#l07 = "/gwsub/sb06/sb06_budget_assign_csvput"
# title
t01 = %Q(<span>担当登録</span>)
t02 = %Q(<span>説明</span>)
t03 = %Q(<span>管理者メニュー</span>)
#t03 = %Q(<span>コード管理</span>)
#t04 = %Q(<span>管理者登録</span>)
#t05 = %Q(<span>主管課登録</span>)
#t07 = %Q(<span>担当CSV出力</span>)
case @l1_current
when '01'
  t01 = %Q(<span class="gwsub_current_menu">担当登録</span>)
when '02'
  t02 = %Q(<span class="gwsub_current_menu">説明</span>)
when '03'
  t03 = %Q(<span class="gwsub_current_menu">管理者メニュー</span>)
#  t03 = %Q(<span class="gwsub_current_menu">コード管理</span>)
#when '04'
  #t04 = %Q(<span class="gwsub_current_menu">管理者登録</span>)
#when '05'
  #t05 = %Q(<span class="gwsub_current_menu">主管課登録</span>)
#when '07'
  #t07 = %Q(<span class="gwsub_current_menu">担当CSV出力</span>)
else
end
# 予算主管課一括承認の権限判定
#  if Gwsub::Sb06BudgetRole.budget_main?( Core.user.id ) == true
  if Gwsub::Sb06BudgetRole.budget_recognizable?( 'main',Core.user.id ) == true
    t08= %Q(<a href="/gwsub/sb06/sb06_budget_assigns?do=recognize_main"><span>主管課一括承認</span></a>)
    if @l1_current  ==  '08'
      t08= %Q(<a href="/gwsub/sb06/sb06_budget_assigns?do=recognize_main"><span class="gwsub_current_menu>主管課一括承認</span></a>)
    end
  else
    t08 = %Q(<span style="color:gray;">　主管課一括承認　|</span>)
  end
# 予算管理者一括承認の権限判定
  if Gwsub::Sb06BudgetRole.budget_recognizable?( 'admin',Core.user.id ) == true
    t09= %Q(<a href="/gwsub/sb06/sb06_budget_assigns?do=recognize_admin"><span>管理者一括承認</span></a>)
    if @l1_current  ==  '09'
      t09= %Q(<a href="/gwsub/sb06/sb06_budget_assigns?do=recognize_admin"><span class="gwsub_current_menu>管理者一括承認</span></a>)
    end
  else
    t09 = %Q(<span style="color:gray;">　管理者一括承認　|</span>)
  end
-%>
<div class="menu">
<%= link_to t01.html_safe , l01 %>
<%= link_to t02.html_safe , l02 %>
<%#= t08 -%>
<%#= t09 -%>
<%#= link_to t05 , l05 if @budget_admin==true  or @budget_main==true %>
<%#= link_to t04 , l04 if @u_role==true %>
<%= link_to t03.html_safe , l03 if @u_role==true -%>
<%#= link_to t07 , l07 if @budget_admin==true %>
</div>
