<% nfiles = files.select {|f| !f.is_image} %>
<% if nfiles.present? %>
<p class="bgAsh">添付ファイル</p>
<% nfiles.each do |file| %>
  <% download_url = "#{file.file_uri(file.system_name)}" %>
  <p class="leftPad2"><%= link_to "#{file.filename} (#{file.eng_unit})", download_url %></p>
<% end %>
<span style="color: #ff0000;">※パケット定額サービスに入っていない場合、高額の通信料が発生する場合があります。</span>
<% end %>
