<% if files.present? %>
<div class="docsInnerBox2">
<table class="gwboardAttachlist">
  <tr>
    <th colspan="2">添付ファイル名</th>
    <th class="remark">備考</th>
  </tr>
  <% files.each do |file|
    #全ての処理に同じ対応が済むまで(掲示板のみ)
    case file.system_name.to_s
    when "gwbbs", "gwfaq"
      download_url = "#{file.file_uri(file.system_name)}" if @title.upload_system == 1
      download_url = "#{file.file_uri(file.system_name)}" if @title.upload_system == 2
      unless @title.upload_system == 1
        download_url = "/_admin/gwboard/receipts/#{file.id}/download_object?system=#{file.system_name}&title_id=#{file.title_id}"
      end unless @title.upload_system == 2
    else
      download_url = "/_admin/gwboard/receipts/#{file.id}/download_object?system=#{file.system_name}&title_id=#{file.title_id}"
    end
  %>
  <tr>
    <td style="width:30px;" class="attachIcon"><%= link_to '', download_url, class: file.icon_type %></td>
    <td><%= link_to "#{file.filename} (#{file.eng_unit})", download_url %></td>
    <td class="remark"><%= file.memo %></td>
  </tr>
  <% end %>
</table>
</div>
<span style="color: #ff0000;">※パケット定額サービスに入っていない場合、高額の通信料が発生する場合があります。</span>
<% end %>
