<%=raw get_form_title_div params %>
<span class="required">※は必須項目です。</span>
<table class="show">
  <tr>
    <th>期限</th>
    <td><%= f.calendar_date_select :ed_at, :popup => "force", :time => false, :value => safe{@item.ed_at.strftime('%Y-%m-%d')} %></td>
  </tr>
  <tr>
    <th>内容 <span class="required">※</span></th>
    <td><%= f.text_field :title, :style => "width:30em;" %></td>
  </tr>
  <tr>
    <th>備考</th>
    <td>
      <%= f.text_area :body, :rows => 5, :style => "width: 30em; ime-mode: active;" %>
    </td>
  </tr>
</table>


