<%
delete_path = "/gw/todos/#{@item.id}/delete"
cansel_path = "/gw/todos/#{@item.id}"
%>
<hr class="borderDash"/>
<p class="mobileTodo">削除</p>

<hr class="borderDash"/>
<p class="leftPad2">
削除してよろしいですか？<br />
<%= link_to "[はい]" , delete_path %>　
<%=link_to "[いいえ]", cansel_path%><br />
</p>
</p>
<hr class="borderDash"/>
<p class="leftPad2">
<%=link_to "戻る", "/gw/todos/#{@item.id}?s_finished=#{@s_finished}"%></p>
<hr class="borderDash"/>
<p class="leftPad2">
<%=link_to "ToDo一覧へ", "/gw/todos/?s_finished=#{@s_finished}"%></p>