<div class="menu">
<a href="/gw/edit_link_pieces/">
  <span class="<%= 'current_menu' if params[:controller] == "gw/admin/edit_link_pieces" %>">ポータルリンクピース編集</span>
</a>
<a href="/gw/edit_link_piece_csses/">
  <span class="<%= 'current_menu' if params[:controller] == "gw/admin/edit_link_piece_csses" %>">ポータルリンクピース適用CSS編集</span>
</a>
</div>
