<%
  if params[:controller] == "gw/admin/edit_link_pieces"
    current_no = 1
  elsif params[:controller] == "gw/admin/edit_link_piece_csses"
    current_no = 2
  end
%>
<div class="menu">
<a href="/gw/edit_link_pieces/?pid=0"><span<%=raw (current_no == 1) ? ' class="current_menu"' : ''%>>ポータルリンクピース編集</span></a>
<a href="/gw/edit_link_piece_csses/"><span<%=raw (current_no == 2) ? ' class="current_menu"' : ''%>>ポータルリンクピース適用CSS編集</span></a>
</div>
