<%
t01 = %Q(<span>条件登録</span>)
t02 = %Q(<span>条件一覧</span>)
case @l2_current
when '01'
  t01 = %Q(<span class="gwsub_current_menu">条件登録</span>)
when '02'
  t02 = %Q(<span class="gwsub_current_menu">条件一覧</span>)
else
end
%>
<%= render 'gwsub/admin/sb05/sb05_function_menu' -%>
<div class="menu">
<%= link_to t01.html_safe , url_for("#{@index_uri}new") -%>
<%= link_to t02.html_safe , @index_uri -%>
</div>
