<%#*<h1>Gw::Public::PrefConfigs##header</h1>%>
<%#*<p>Find me in app/views/gw/public/pref_configs/_header.html.erb</p>%>

<!--
<div class="editingBox">
  <span class="btNew"><%#= link_to '新規作成', "#{Site.current_node.public_uri}new" %></span>
  <span class="docLink"><%#=  link_to '戻る >>', "/tab_main/40" %></span>
</div>
-->