<%# app/views/gw/public/memos/_search.html.erb %>
<%
s_finished_cls = [['未読',1],['既読',2],['両方',3]]
s_show_cls = [['詳細',1],['簡易',2]]
%>
<%= form_tag('', :method => :get, :class => 'search', :name => 'frmSelect') do %>
<div class="indication">
<div class="state">状態<%= select_tag('s_finished',options_for_select(s_finished_cls,params[:s_finished].to_i), :onchange => 'document.frmSelect.submit()') %></div>
<div class="listform">一覧形式<%= select_tag('s_index_cls', options_for_select(s_show_cls,params[:s_index_cls].to_i ), :onchange => 'document.frmSelect.submit()' ) %></div>
</div>
<% end %>
