<div class="tabBox">
<table class="tabtable">
  <tr>
    <td class="spaceLeft"></td>
    <td class="tab <%= 'current' if params[:action] == 'index' && params[:s_send_cls] == '1' %>"><%= link_to '受信', {action: :index, s_send_cls: 1} %></td>
    <td class="spaceCenter"></td>
    <td class="tab <%= 'current' if params[:action] == 'index' && params[:s_send_cls] == '2' %>"><%= link_to '送信', {action: :index, s_send_cls: 2} %></td>
    <td class="spaceRight"></td>
  </tr>
</table>
</div><!--tabBox-->
