<%
delete_path = "/gw/memos/#{@item.id}/delete"
cansel_path = "/gw/memos/#{@item.id}"
%>
<hr class="borderDash"/>
<p class="mobileMemo">削除</p>

<hr class="borderDash"/>
<p class="leftPad2">
削除してよろしいですか？<br />
<%= link_to "[はい]" , delete_path %>　
<%=link_to "[いいえ]", cansel_path%><br />
</p>
</p>
<hr class="borderDash"/>
<p class="leftPad2">
<%=link_to "戻る", "/gw/memos/#{@item.id}?s_send_cls=#{@s_send_cls}&s_finished=#{@s_finised}"%></p>
<hr class="borderDash"/>
<p class="leftPad2">
<%=link_to "連絡メモ一覧へ", "/gw/memos/?s_send_cls=#{@s_send_cls}&s_finished=#{@s_finised}"%></p>