@charset "UTF-8";
@import "../base/init.css";
@import "../base/style.css";
@import "../piece/style.css";

/* =========================================================
   TOP
========================================================= */

/* common banner
----------------------------------------------- */
#commonBanner h1 {
  float: left;
  width: 30%;
  height: 70px;
}
#commonBanner h1 a {
  display: block;
  width: 100%;
  height: 0px !important;
  height /**/: 70px; /* gokanmode */
  padding-top: 70px;
  overflow: hidden;
  outline: 0;
}

/* mayor
----------------------------------------------- */
#mayor {
  margin-bottom: 5px;
}
#mayor .pieceBody {
  padding: 5px;
  border: 1px solid #001C66;
}
#mayor .pieceBody img {
  float: right;
  margin: 0px 5px 0px 5px;
}
#mayor ul {
  padding: 0px;
  background-color: transparent;
}
#mayor ul:after {
  display: block;
  clear: both;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  content: ".";
  visibility: hidden;
}

/* erea
----------------------------------------------- */
#ereaMap {
  border: 1px solid #006058;
}
#ereaMap .pieceBody {
  padding: 5px;
  background-color: #fffae8;
}

#ereaMap .pieceBody a {
  padding: 0px 7px 0px 6px;
  background-image: url(./images/ic-chiiki.gif);
  background-position: left center;
  background-repeat: no-repeat;
}

/* docs
----------------------------------------------- */
#recentDocs li {
  padding: 0px 0px 5px 10px;
  background-image: url(./images/ic-list-shinchaku.gif);
  background-repeat: no-repeat;
  background-position: left 5px;
}
#recentDocs .pieceBody {
  padding: 0px 5px 5px 5px;
}

/* recent Docs Title
----------------------------------------------- */
#recentDocsTitle .pieceHeader {
  background-image: url(./images/bg-shinchaku-repeat.gif);
  background-position: left top;
  background-repeat: repeat-x;
}
#recentDocsTitle h2 {
  height: 30px;
  background-image: url(./images/tl-shinchaku.gif);
  background-position: left top;
  background-repeat: no-repeat;
  text-indent: -9999px;
}

/* RSS Atom
----------------------------------------------- */
.feed {
  float: right;
  position: relative;
  top: -27px;
  right: 10px;
  height: 13px;
  background-color: transparent;
}
.feed a.feedRss {
  display: inline-block;
  width: 40px;
  height: 13px;
  background-image: url(./images/bt-rss.gif);
  background-repeat: no-repeat;
  text-indent: 50px;
  overflow: hidden;
}
.feed a.feedAtom {
  display: inline-block;
  width: 40px;
  height: 13px;
  background-image: url(./images/bt-atom.gif);
  background-repeat: no-repeat;
  text-indent: 50px;
  overflow: hidden;
}

/* For firefox2 */
.feed a.feedAtom,y:-moz-any-link,
.feed a.feedRss,x:-moz-any-link {
  display: -moz-inline-box;
  padding-top: 13px;
}
.links {
  text-align: right;
}

/* footer-navi
----------------------------------------------- */
#footerNavi {
  width: 100%;
  background-color: #fff;
}
#footerNavi .pieceBody {
  padding: 10px 0px;
  color: #333333;
}
#footerNavi a {
  color: #0000ff;
}
#footerNavi a:visited {
  color: #0000ff;
}
#footerNavi a:hover {
  color: #0000ff;
}

/* qr-code
----------------------------------------------- */
#qrCode {
  margin-top: 5px;
}
#qrCode img {
  float: left;
  margin-right: 4px;
}
/* top-photo
----------------------------------------------- */
#topPhoto {
  margin-bottom: 7px;
}

#topPhoto .pieceBody {
  width: 100%;
  overflow: hidden;
}

