<div<%= Site.current_piece.css_attributes %>>
<div class="pieceContainer">
<div class="pieceHeader"></div>
<div class="pieceBody">

<%= @render_crumbs.call(@crumbs) %>
<%= @cl1 %>

</div>
<div class="pieceFooter"></div>
</div>
<!-- end .piece --></div>
