<table class="show bbsText">
<tr><th>記事管理設定ヘルプリンク</th></tr>
<tr><td><%= text_field_tag :help_0, @array_help[0], :size => '100' %></td></tr>
<tr><th>回答表示設定ヘルプリンク</th></tr>
<tr><td><%= text_field_tag :help_1, @array_help[1], :size => '100' %></td></tr>
</table>
