<table class="show bbsText">
  <tr><th>記事管理設定ヘルプリンク</th></tr>
  <tr><td><%= text_field_tag 'item[0][]', @item.help_links[0], :size => '100' %></td></tr>
  <tr><th>回答表示設定ヘルプリンク</th></tr>
  <tr><td><%= text_field_tag 'item[1][]', @item.help_links[1], :size => '100' %></td></tr>
  <tr><th>全職員へのリマインダー表示</th></tr>
  <tr><td><%= text_field_tag 'item[2][]', @item.help_links[2], :size => '100' %></td></tr>
  <tr><th>回答フォーム設定ヘルプリンク</th></tr>
  <tr><td><%= text_field_tag 'item[3][]', @item.help_links[3], :size => '100' %></td></tr>
</table>
