<h3 class="iconSideMonth">月別
  <span class="<%= 'current' if params[:state] == 'DATE'%>">
    <%= link_to '月別', "#{@title.docs_path}&state=DATE" %>
  </span>
</h3>
<ul>
<% @monthlies.each do |monthly| %>
  <% monthly_name = "#{monthly.month}(#{monthly.cnt})" %>
  <li>・<%= link_to monthly_name, @title.docs_path + "&state=DATE&yyyy=#{monthly.yy}&mm=#{monthly.mm}" %></li>
<% end %>
</ul>
