<%
if params[:item] && !@item.errors.blank?
  if params[:options]
    option_item = params[:options].join(",")
  else
    option_item = []
  end
else
  option_item = !@item.blank? && !@item.schedule_option.blank? && !@item.schedule_option.body.blank? ? @item.schedule_option.body.split(/,/) : []
end-%>
<tr id="specialShow">
  <th>参加者</th>
  <td>
    <div id="specialMeetingOption">
    <% Gw::ScheduleOption.new.check_select.each_with_index do |select, i|
      checked = false
      checked = true if option_item && !option_item.index(select[1]).blank?-%>
      <%= check_box_tag "options[]", select[1], checked , :id=>"option_#{select[1]}" , :class=>"scheduleOption"%>
      <label for="<%="option_#{select[1]}"%>"><%=select[0]%></label><%if (i + 1 ) % 5 == 0%><br /><%end%>
    <%end%>
      <%special_meting_rooms = get_special_meeting_rooms
        special_meting_rooms.each do |sp_meeting|%>
        <%=hidden_field_tag "special_meeting_rooms[]", sp_meeting.id, :id=>"special_meeting_rooms_#{sp_meeting.id}", :class=>"special_meeting_room_id"-%>
      <%end-%>
    </div>
  </td>
</tr>