<%
@users_json = [["1",Site.user.id,Site.user.display_name]].to_json if @users_json.blank?
unless params[:item].blank?
  users_json = []
  if params[:item][:schedule_users].blank?
    #
  else
    params[:item][:schedule_users].each do |u|
      if u[1].to_i != 0
        user_name = System::User.find_by_id(u[1])
        users_json << ["1",u[1],"#{user_name.name}"]
      end
    end
    params[:item][:schedule_users_json] = users_json.to_json
  end
end
%>
<%= hidden_field_tag 'init[schedule_users_json]', (params[:item].nil? ? nz(@users_json) : params[:item][:schedule_users_json]) %>
<%
if params[:item].blank?
 users_json = @users_json
else
 users_json = params[:item][:schedule_users_json]
end
selected_field = []

if users_json.blank?
10.times { |i|
  selected_field  << ["選択なし",0]
}
else
items = ::JsonParser.new.parse(users_json)
limit = items.size - 1
10.times { |i|
  if i <= limit
    selected_field  << [items[i][2],items[i][1]]
  else
    selected_field  << 0
  end
}
end
users = System::User.get_user_select(nil, nil, {})
users << ["選択なし",0]
users = users.sort{|a,b|
a[1] <=> b[1]
}
%>

<span class="textRed">最低1人、10人まで</span><br />
参加者<br />
<%10.times { |i|%>
<%= hidden_field_tag "item[schedule_users][uid_#{i+1}]", (selected_field[i][1].to_i) %>
<%user = System::User.find_by_id(selected_field[i][1])%>
<%unless user.blank?%>
<%
is_mobile = Gw::UserProperty.new.find(:first, :conditions=>["uid = ? and class_id = 1 and name = 'mobile'", selected_field[i][1]])
%>
・<%=user.display_name %><br />
<%end%>
<%}%>
<br />