<%
if @sp_mode == :prop
  raise ArgumentError, 'piece_header 呼び出し前に d/@st_date を設定してください。' if d.nil?
  raise ArgumentError, 'piece_header 呼び出し前に params[:s_genre] を設定してください。' if params[:s_genre].nil?
end
%>
<%
if @sp_mode == :prop
  bt_box = '/gw/admin/schedule_props/bt_box'
else
  bt_box = '/gw/admin/schedules/schedule_bt_box'
end
%>
<%= raw(render(:partial => bt_box, :locals=>{:d=>d, :mode=>mode})) -%>

<% if @custom_group -%>
<div class="scheduleTableTitle"><%= @custom_group.name -%></div>
<% end -%>

<% if @show_flg -%>
  <%= raw(render(:partial => '/gw/admin/schedules/schedule_line_box', :locals=>{:d=>d, :mode=>mode, :move_mode=>:header})) -%>
  <% if @line_box.present? %>
    <%= raw(hidden_field_tag('my_url', @schedule_move_url_directive.sub('%q', "#{@schedule_move_qs}"))) %>
  <% end %>
<% end %>
<script language = "JavaScript" type="text/javascript">
//<![CDATA[

var search_group_search_submit = function () {
  document.forms['search'].submit();
}
//]]>
</script>