<%
d = @st_date # 初期化処理
@topdate = @st_date.strftime('%Y%m%d')
mode = 'week'
uid = nz(params[:uid], Site.user.id)
link_params = Gw.a_to_qs(["gid=#{params[:gid]}", "uid=#{uid}", "cgid=#{params[:cgid]}","dis=#{@dis}"], {:no_entity => true})
@format = "%Y年%m月%d日（%_wd）"
@day_format = "%Y-%m-%d"
@holidays = Gw::Holiday.find_by_range_cache(d,d+6)
%>
<div class="pieceBodyBody"><table summary="スケジュール詳細" class="scheduleTable">
<%7.times { |i|
td_date = d+i
st_at_str = date_format(@day_format, td_date)
#日付表示用のクラス
# 祝日
j = @holidays.select{|holiday| holiday.st_at.strftime('%Y-%m-%d') == st_at_str}
if j.count > 0
  holiday_class = "holiday"
else
  holiday_class = ""
end
if holiday_class.blank?
if td_date.wday == 6
  date_class = "saturday"
elsif  td_date.wday == 0
  date_class = "sunday"
else
  date_class = "weekday"
end
else
if td_date.wday == 6
  date_class = holiday_class
elsif  td_date.wday == 0
  date_class = holiday_class
else
  date_class = "weekday #{holiday_class}"
end
end
if Time.now.strftime('%Y-%m-%d') == st_at_str
  date_class = "today"
end
%>
<tr><th class="date <%=date_class%>">
<%=link_to(%Q(#{date_format(@format, d+i)}), %Q(/gw/schedules/#{(d+i).strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate}))%>
</th>
<th class="new <%=date_class%>">
<%=link_to(image_tag('/_common/themes/gw/files/smartphone/other/ic_add.gif', { :border => '0', :alt => '新規作成', :title => '新規作成', :class=>'menu_new'}),
   %Q(/gw/schedules/new?s_date=#{(d+i).strftime('%Y%m%d')}#{link_params}&topdate=#{@topdate}))%>
</th></tr>
<%}%>
</table>
</div>