<div id="schedule_part">
<%= render '/gw/admin/schedules/smartphone_header' %>
<%= render '/gw/admin/schedules/schedule_line_box_smart_phone', d: @st_date, mode: 'day', move_mode: :header %>
<%= render '/gw/admin/schedules/show_day' %>
<%= render '/gw/admin/schedules/schedule_line_box_smart_phone', d: @st_date, mode: 'day', move_mode: :footer %>
</div><!--schedule_part-->
