<div class="pieceHeader">
<h2 class="pieceTitle">回覧板 配信先個人設定</h2>
<div class="btsHeaderLeft">
<% unless defined?(hide_new_action) %>
  <span class="btNew"><a href="/gwcircular/custom_groups/new">新規作成</a></span>
<% end %>
</div>
</div><!--pieceHeader-->
