<table class="index">
  <tr class="headIndex">
    <th class="docTitle">記事タイトル</th>
    <th class="update">最終更新日時</th>
  </tr>
  <% brk_key = nil %>
  <% @items.each do |item| %>
    <% unless brk_key == item.category1_id %>
    <tr class="subIndex">
      <th class="docTitle">■ <%= gwbd_category_name(@d_categories, item.category1_id) %></th>
      <th class="update"></th>
    </tr>
    <% end %>
    <tr class="<%= cycle 'article', 'article cycle' %>">
      <td class="docTitle"><%= link_to hbr(item.title), gwfaq_doc_path(item, title_id: item.title_id) + gwfaq_params_set %></td>
      <td class="update"><%=l item.latest_updated_at if item.latest_updated_at %></td>
    </tr>
    <% brk_key = item.category1_id %>
  <% end %>
</table>
