<%= form_tag '', :method => :get, :class => 'changelimit' do %>
<span>表示行数</span>
<%=select_tag('limit', options_from_collection_for_select([[10,'10行'],[20,'20行'],[30,'30行'],[50,'50行'],[100,'100行']],:first,:last, params['limit'].to_i), :onchange => 'submit();')%>
<input type="hidden" name="state" value='<%="#{params[:state]}"%>' />
<input type="hidden" name="title_id" value='<%="#{params[:title_id]}"%>' />
<!-- end .search --><% end %>
