<div class="bbsUserform">
<table class="bbsUserformBody">
  <tr><td class="docTitle"><span><%=hbr @item.title %></span></td></tr>
  <tr><td class="spaceBottom"></td></tr>
  <tr>
    <% if @item.wiki_enabled? -%>
      <td class="wiki"><%== wiki_show @item.body -%></td>
    <% else -%>
      <td><%== @item.body -%></td>
    <% end -%>
  </tr>
  <tr>
  </tr>
</table>
</div>
