<div class="bbsUserform">
<table class="bbsUserformBody">
  <tr><td class="docTitle"><span><%=hbr @item.title %></span></td></tr>
  <tr>
    <td>
    <% if @item.wiki_enabled? -%>
      <%= convert_for_mobile_body(wiki_show(@item.body), params[:_jgw_session]) %>
    <% else -%>
      <%= convert_for_mobile_body(@item.body, params[:_jgw_session]) %>
    <% end -%>
    </td>
  </tr>
</table>
</div>
