<!DOCTYPE html>
<html lang="ja">
<head>
<%= render 'layouts/admin/gw/header_tag' %>
</head>
<body <%= Page.body_id %>>
<div id="container">

<!--ここからメインコンテンツ-->
<div id="main">

<%=yield%>
<
</div>
</body>
</html>