<%
t01 =%Q(<span>CSV出力</span>)
t02 =%Q(<span>処理済にする</span>)
case @l2_current
when '01'
  t01 =%Q(<span class="gwsub_current_menu">CSV出力</span>)
when '02'
  t02 =%Q(<span class="gwsub_current_menu">処理済にする</span>)
else
end
%>
<%= render 'gwsub/admin/sb05/sb05_function_menu' -%>
<div class="menu">
<!-- <p>依頼出力</p> -->
<%= link_to t01.html_safe , url_for("/gwsub/sb05/sb05_requests_put/csvput") -%>
<%= link_to t02.html_safe , url_for("/gwsub/sb05/sb05_requests_finished") -%>
</div>
