<%= render :partial => 'header' %>

<div class="selectFormBox">
<% 
case params[:state]
when 'CATEGORY'
  concat render :partial => 'doclibrary/admin/user_forms/form001/change_group'
when 'DATE', 'GROUP'
  concat render :partial => 'doclibrary/admin/user_forms/form001/change_group'
  concat render :partial => 'doclibrary/admin/user_forms/form001/change_category'
end
%>
</div>

<!--ファイル一覧-->
<%= render :partial => 'doclibrary/admin/user_forms/form001/index_docs' if @items.present? %>

<!--フォルダ一覧-->
<% 
case params[:state]
when 'CATEGORY'
  concat render :partial => 'doclibrary/admin/user_forms/form001/index_folders' if @folders.present?
when 'DRAFT'
  concat render :partial => 'doclibrary/admin/user_forms/form001/index_folders' if @folders.present? && @is_admin
end
%>

<!--添付ファイル一覧-->
<%= render :partial => 'doclibrary/admin/user_forms/form001/index_files' if @files.present? %>
