<table class="docformBody">
<tr>
<th class="title"><%=hbr(@item.title)%></th>
</tr>
<tr>
  <% if @item.wiki_enabled? -%>
    <td class="wiki"><%= raw(wiki_show @item.body) -%></td>
  <% else -%>
    <td><%=raw @item.body -%></td>
  <% end -%>
</tr>
</table>