<%# app/views/gw/public/todo_settings/_piece_header.html.erb %>
<h2 class="pieceTitle">ToDo設定</h2>
<div class="btsHeaderLeft">
<span class="btNew"><%= link_to '新規作成', '/gw/schedules/new?link=todo' %></span>
</div>
<div class="btsHeaderRight">
<span class="btSet"></span>
</div>
