<table class="index">
<% brk_code = '' %>
<% @items.each do |item| %>
  <% unless brk_code == item.inpfld_002.to_s %>
    <% brk_code = item.inpfld_002.to_s %>
    <tr class="subIndex">
      <th style="width: 130px"><%= item.inpfld_002 %></th>
      <th>分類</th>
    </tr>
  <% end %>
  <tr class="article">
    <td class="leftLine docTitle"><%= link_to item.inpfld_006, "#{item.show_path}#{gwbbs_params_set}" %></td>
    <td><%= link_to gwbd_category_name(@d_categories, item.category1_id), "#{item.show_path}#{gwbbs_params_set}" %></td>
  </tr>
  <tr>
    <td class="leftLine group" colspan="2"><span><%=link_to item.title, "#{item.show_path}#{gwbbs_params_set}" %></span></td>
  </tr>
<% end %>
</table>
