@charset "UTF-8";
@import "style.css";

/* =========================================================
   Login.
========================================================= */

html,body {
  height: 100%;
  font-size: 90%;
  margin: 0px auto;
  padding: 0px;
  background-color: #104094;
  background-image: url(/_common/themes/admin/images/bg_re.gif) ;
 }

input {
  font-size: 90%;
  font-family: verdana;
}

.notice {
  margin: 15px 0px 0px 0px;
  color: #f00;
  font-weight: bold;
}

.form input {
  width: 150px;
}

.submitters {
  height: 100px;
  padding: 10px 25px 0;
}

form input.login {
  width: 106px;
  height: 37px;
  border: none;
  margin: 0px 0 5px;
  padding: 0px;
  background-image: url(images/bt_login.gif);
  background-repeat: no-repeat;
}
.boxBody {
  background-position: center 0;
  background-repeat: no-repeat;
}
.show {
  width: 350px;
  text-align: left;
  margin: 20px auto 10px 105px;
  color: #000;
}

#account {
  width: 170px;
  margin-left:1px;
  ime-mode:disabled;
}
#password {
  width: 170px;
}
.changePass {
  text-align: right;
}


h1 {
  overflow: hidden;
  width: 415px;
  height: 0px !important;
  height /**/:90px; /* gokanmode */
  margin: 15px auto 0px auto;
  text-align: center;
  padding-top: 117px;
  background-image: url(images/login-gwlogo.gif);
  background-repeat: no-repeat;
/*  background-position: 0 20px;*/
  outline: 0;

  }


div#login {
  background: transparent;
  width: 100%;
  height: 25%;
}

.login_box {
  position: relative;
  width: 460px;
  margin: 0px auto 0px auto;
  top: 0px;
  text-align:center;
  margin: 0px auto;  
}

.box {
  width: 460px;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: left top;
  text-align:center;
  margin: 0px auto 0px auto;  
}

.box p {
    color: #666666;
    font-family: verdana;
    font-size: 100%;
    font-weight: lighter;
    padding: 12px 0 0 15px;
    text-align: left;
}

.menu {
  margin: 0px auto;
  background-image: url(/_common/themes/admin/images/login-bg_cms.gif);
  background-repeat: no-repeat;
  background-position: left top;
  width: 462px;
  height: 102px;
}

.menu p {
  text-align: center;
  width: 450px;
  margin-left: 12px;

}

.menu p a {
  width: 139px;
  height: 37px;
  text-indent: -9999px;
  display: block;
  float: left;
  margin-top: 13px;
  outline: none;
}

.menu p a#manual {
  background-image: url(/_common/themes/admin/images/bt_cms-manual.gif);
  background-repeat: no-repeat;
  background-position: left top;
  margin-left: 28px;
}
*html .menu p a#manual {
  margin-left: 14px;
}
.menu p a#qa {
  background-image: url(/_common/themes/admin/images/bt_cms-qa.gif);
  background-repeat: no-repeat;
  background-position: left top;
}

.menu p a#faq {
  background-image: url(/_common/themes/admin/images/bt_cms-faq.gif);
  background-repeat: no-repeat;
  background-position: left top;
}

.copyright {
  color: #ffffff;
  padding: 20px 0;
  text-align: center;

}

.fields span.head{
  display: inline-block;
  width: 75px;
}
.fields{
  text-align: left;
  color: #000000;
  margin: 0 0 0 100px;
  width: 350px;
}


