<div class="bbsUserform">
<table class="show">
  <tr><th>職</th></tr>
  <tr><td><%= @item.inpfld_001 %></td></tr>
  <tr><th>氏名</th></tr>
  <tr><td><%= @item.title %></td></tr>
  <tr><th>電話番号</th></tr>
  <tr><td><%= @item.body %></td></tr>
  <tr><th>メールアドレス</th></tr>
  <tr><td><%= @item.inpfld_002 %></td></tr>
</table>
</div>
