<p class="bgYellow">職</p>
<p class="leftPad1"><%= @item.inpfld_001 %></p>
<p class="bgAsh">氏名</p>
<p class="leftPad1"><%= @item.title %></p>
<p class="bgAsh">電話番号</p>
<p class="leftPad1"><%= @item.body %></p>
<p class="bgAsh">メールアドレス</p>
<p class="leftPad1"><%= @item.inpfld_002 %></p>
