<div class="piece bbs">
<div class="pieceHeader">
  <h2>掲示板 CSV出力</h2>
</div>

<div class="pieceBody">
<%=render :partial => 'header' %>
<div class="docsInnerBox">

<div class="bbsUserform">
<table class="bbsUserformBody">
<tr><td class="docTitle"><span><%= hbr(@title.title) %></span></td></tr>
</table>
</div>
</div>

<%= render :partial => 'form' %>
<!--戻るボタン-->
<div class="btReturn">
  <%= link_to '掲示板管理詳細へ戻る', "/gwbbs/makers/#{@title.id}" %>
</div>
</div><!--pieceBody-->
</div><!--piece gwbbs-->
