<table class="show">
  <tr>
    <th>カテゴリ名<%= required %></th>
    <td><%= f.text_field :name, :size => 90 %></td>
  </tr>
  <tr>
    <th>並び順<%= required %></th>
    <td><%= f.text_field :sort_no, :size => 90 %></td>
  </tr>
</table>
