<%
t01 = %Q(<span>登録</span>)
t02 = %Q(<span>一覧</span>)
t03 = %Q(<span>CSV出力</span>)
t04 = %Q(<span>CSV登録</span>)
case @l2_current
when '01'
  t01 = %Q(<span class="gwsub_current_menu">登録</span>)
when '02'
  t02 = %Q(<span class="gwsub_current_menu">一覧</span>)
when '03'
  t03 = %Q(<span class="gwsub_current_menu">CSV出力</span>)
when '04'
  t04 = %Q(<span class="gwsub_current_menu">CSV登録</span>)
else
end
%>
<%= render 'gwsub/admin/sb05/sb05_function_menu' -%>
<div class="menu">
<%= link_to t01.html_safe, url_for("/gwsub/sb05/sb05_notices/new") -%>
<%= link_to t02.html_safe, url_for("/gwsub/sb05/sb05_notices") -%>
</div>
