<%= form_tag('', :method => :get, :class => 'search', :name=>'frmSearch') do %>
<table>
  <tr>
    <td colspan="2"></td>
    <th>検索</th>
    <td colspan="8"><%= text_field_tag "s_keyword", params[:s_keyword] %></td>
    <td ></td>
    <td class="submitters">
      <%= submit_tag '検索', :name => :search %>
      <%= submit_tag 'リセット', :name => :reset  %>
    </td>
  </tr>
</table>
<!-- end form -->
<% end %>
