<table class="index" cellspacing="0" cellpadding="0">
<tbody>
<% for i in @start .. @end %>
  <% item = @items[i - 1] %>
  <tr>
  <% if @current == i %>
    <td class="titleSelect"><%= hbr(item.title) %></td>
  <% else %>
    <td class="title"><%= link_to hbr(item.title), item.show_path + "&pp=#{i}" + gwbbs_params_set %></td>
  <% end %>
  </tr>
<% end %>
</tbody>
</table>

<%=raw "<br />\n" * @loop %>
