<div class="mainMenu">
<%= render :partial => 'layouts/admin/sys/menu', :locals => {:current => :user} %>
</div>

<div class="contentMenu">
<%= render :partial => 'layouts/admin/sys/navi/user', :locals => {:current => :user} %>
</div>
