<h3 class="iconSideMonth">月別<span class="<%= 'current' if params[:state] == 'DATE'%>"><%=link_to('月別', "#{gwqa_docs_path({:title_id=>@title.id})}&state=DATE")%></span></h3>
<%lcnt = 0%>
<ul>
<% for monthly in @monthlies %>
  <%monthly_name = monthly.month + "(#{monthly.cnt})"%>
  <li>・<%=link_to(monthly_name, gwqa_docs_path({:title_id=>@title.id}) + "&state=DATE&yyyy=#{monthly.yy}&mm=#{monthly.mm}")%></li>
  <%lcnt = lcnt + 1%>
  <%break if @title.monthly_view_line <= lcnt if 0 < @title.monthly_view_line%>
<% end %>
</ul>
