@charset "UTF-8";
/* =========================================================
   TOP
========================================================= */
/* header footer
----------------------------------------------- */
h1{
  width:auto;
  margin:0px;
}
body{
  margin:0px;
}
body #container{
  font-size: 80%;
}
body #smartPhoneContainer{
  font-size: 100%;
}
.name{
  margin-bottom:10px;
}
form{
  padding-left:6px;
}
.headerTop {
  width: 100%;
  height: 27px;
  padding:6px 0px 6px 0px;
  margin:0px 0px 6px 0px;
  border-top:4px solid #00257f;
  border-bottom:1px solid #00257f;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
}
.headerTop img{
  margin:0px 0px 0px 6px;
}
.headerTop a{
  display: block;
}
.headerSmall {
  width: 100%;
  height: 13px;
  padding: 6px 0px;
  margin:0px 0px 6px 0px;
  border-top:4px solid #00257f;
  border-bottom:1px solid #00257f;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
}
.headerSmall img{
  margin:0px 0px 0px 6px;
}
.footer{
  width: 100%;
  height: 14px;
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  background-color:#00257f;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
}
.name{
  font-weight: bold;
  padding:0px 0px 0px 4px;
}
.NUM{
  ime-mode: disabled;
  -wap-input-format: *N;
}
.IMEdisabled{
  ime-mode: disabled;
  -wap-input-format: *m;
}
/* hr
----------------------------------------------- */
.borderDash {
  border-width: 1px 0px 0px 0px;
  border-style:dashed;
  border-color:#00257f;
  height:1px;
}
.borderDouble {
  border-width: 3px 0px 0px 0px;
  border-style:double;
  border-color:#00257f;
  height:3px;
}
.docsPageMove{
  padding-top:5px;
  border-width: 1px 0px 0px 0px;
  border-style:dashed;
  border-color:#00257f;
}

/* p
----------------------------------------------- */
.bgAsh{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-color:#f0f2ff;
}
.bgYellow{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-color:#fff7a4;
}
.bgBlue{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-color:#00257f;
}
.leftPad1{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 24px;
}
.leftPad2{
  margin:4px 0px 0px 0px;
  padding:0px 0px 0px 4px;
}
.leftPad3{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 6px;
}
.pagination,
.docsPageMove,
.btReturn{
  margin:4px 0px 0px 0px;
  padding:0px 0px 0px 4px;
}
.attention{
  color:#cc0000;
  margin:6px 0px 6px 0px;
}

/* image
----------------------------------------------- */
.mobileMail{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-mail.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  line-height:16px;
}
.mobileMailCurrent{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-mail.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  background-color:#00257f;
  color: #ffffff;
  line-height:16px;
}
.mobileMemo{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-memo.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  line-height:16px;
}
.mobileMemoCurrent{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-memo.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  background-color:#00257f;
  color: #ffffff;
  line-height:16px;
}
.mobileRem{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-rem.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  line-height:16px;
}
.mobileRemCurrent{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-rem.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  background-color:#00257f;
  color: #ffffff;
  line-height:16px;
}
.mobileSchedule{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-schedule.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  line-height:16px;
}
.mobileScheduleCurrent{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-schedule.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  background-color:#00257f;
  color: #ffffff;
  line-height:16px;
}
.mobileTodo{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-todo.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  line-height:16px;
}
.mobileTodoCurrent{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-todo.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  background-color:#00257f;
  color: #ffffff;
  line-height:16px;
}
.mobileBbs{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-bbsm.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  line-height:16px;
}
.mobileBbsCurrent{
  margin:3px 0px 0px 0px;
  padding:0px 0px 0px 24px;
  background-image: url("/_common/themes/gw/files/mobile/ic-mobile-bbsm.gif");
  background-position: 3px top;
  background-repeat: no-repeat;
  background-color:#00257f;
  color: #ffffff;
  line-height:16px;
}
/* category
----------------------------------------------- */
.category0, .category100, .category200, .category300, .category400,
.category500, .category600, .category700, .category800, .category900,
.category950, .category1000, .category1100, .category1200 {
  margin: 0px 3px 0px 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #CCC;
  color: #000;
}
.category0 .leftPad1, .category100 .leftPad1, .category200 .leftPad1, .category300 .leftPad1, .category400 .leftPad1,
.category500 .leftPad1, .category600 .leftPad1, .category700 .leftPad1, .category800 .leftPad1, .category900 .leftPad1,
.category950 .leftPad1, .category1000 .leftPad1, .category1100 .leftPad1, .category1200 .leftPad1 {
  padding-left: 10px;
}
.category0 {
  padding-left: 5px;
}
.category100{
  border-left: solid 6px #2283E5;
}
.category200{
  border-left: solid 6px #090;
}
.category300{
  border-left: solid 6px #030;
}
.category400{
  border-left: solid 6px #FF3F38;
}
.category500{
  border-left: solid 6px #009;
}
.category600{
  border-left: solid 6px #A17300;
}
.category700{
  border-left: solid 6px #DC6500;
}
.category800{
  border-left: solid 6px #FFC300;
}
.category900{
  border-left: solid 6px #8658B2;
}
.category950{
  border-left: solid 6px #FFF28F;
}
.category1000{
  border-left: solid 6px #777;
}
.category1100{
  border-left: solid 6px #633;
}
.category1200{
  border-left: solid 6px #0A4F1E;
}



/* link
----------------------------------------------- */
#a {
  color: #3366cc;
}
#a:visited {
  color: #330066;
}
/* text
----------------------------------------------- */
.textRed{
  color: #ff0000;
}
