@charset "UTF-8";
/* =========================================================
   _common/themes/gw/css/mutter_standard.css
========================================================= */

/*掲示板一覧画面
----------------------------------------------- */
/*検索*/
form.search {
  background-color:#BEE1F6;
}

/*添付ファイルアイコン*/
table.docList .Attach {
  background-image:url(/_common/themes/gw/files/attached.jpg);
  background-position:2px 7px;
}
/*一覧*/
table.docList th {
  background-color:#BEE1F6;
  border:1px solid #CCCCCC;
  padding:6px 7px;
}
table.docList td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
#contentBody table.docFolder td {
  padding: 4px 7px;
  border: 1px solid #EDF0F7;
}
#contentBody table.docFolder td {
  border-left: medium none;
  border-right: medium none;
}
#contentBody .doclibraryDocList .docFolder tr.cycle td {
  background-color: #EDF0F7;
}
#item_submit {
  margin-top: 5px;
}

/*掲示板詳細画面
----------------------------------------------- */
/*作成者*/
table.docCreator {
  margin:10px 0 0;
  width:80%;
  text-align:left;
  vertical-align:top;
}
table.docCreator th {
  background-color:#BEE1F6;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
table.docCreator td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}

/*重要度・分類*/
table.docFolder {
  margin:10px 0 0;
  width:100%;
  text-align:left;
  vertical-align:top;
}
table.docFolder th {
  background-color:#3E7BA0;
  color: #FFFFFF;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
table.docFolder td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}

/*タイトル*/
table.docformTitle {
  margin:10px 0 0;
  width:100%;
  text-align:left;
  vertical-align:top;
}
table.docformTitle th {
  background-color:#6182DA;
  color: #FFFFFF;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
table.docformTitle td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}

/*記事*/
table.docformBody {
  margin:10px 0 0;
  width:100%;
  text-align:left;
  vertical-align:top;
}
table.docformBody th {
  background-color:#6182DA;
  color: #FFFFFF;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
table.docformBody td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}

/*添付ファイルリスト*/
table.gwboardAttachlist {
  margin:10px 0 0;
  width:100%;
  text-align:left;
  vertical-align:top;
}
table.gwboardAttachlist th {
  background-color:#BEE1F6;
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
table.gwboardAttachlist td {
  border:1px solid #CCCCCC;
  padding:4px 7px;
}
