@charset "UTF-8";
@import "/_common/themes/gw/css/portal2_base.css";
/* =========================================================
   _common/themes/gw/css/portal2.css
========================================================= */
#content {
  float: right;
  width: 100%;
  margin-left: -210px;
  padding: 0px;
}
#contentContainer {
  margin-left: 210px;
  padding: 0px 0px 0px 0px;
}
#menu {
  float: left;
  width: 200px;
  margin: 0px;
  padding: 0px;
}

/* menu piece style
----------------------------------------------- */
#menu .headLine .head {
  border-top: 1px solid #9eacd3;
  border-bottom: 1px solid #9eacd3;
  background-color: #fff;
}
#menu .headLine h3 {
  margin: 1px;
  padding: 3px;
  background-color: #e1e7ff;
  color: #333;
  font-size: 100%;
  font-weight: normal;
}
#menu .headLine .pieceBody {
  border: 1px solid #999;
  border-top: none;
}
#menu .headLine ul {
  margin: 5px 5px 10px 5px;
}
#menu .headLine li {
  margin: 0px 0px 3px 0px;
}
#menu .headLine li a {
  padding: 0px 0px 0px 6px;
  background-image: url(/_common/themes/gw/files/icon_headline.gif);
  background-repeat: no-repeat;
  background-position: left 5px;
}
#menu .headLine h3.directory {
  padding: 2px 0px 2px 23px;
  background-image: url(/_common/themes/gw/files/hl_directory.png);
  background-repeat: no-repeat;
  background-position: left center;
}
#menu .headLine h3.ebook {
  padding: 2px 0px 2px 23px;
  background-image: url(/_common/themes/gw/files/hl_ebook.png);
  background-repeat: no-repeat;
  background-position: left center;
}
#menu .headLine h3.publication_search {
  padding: 2px 0px 2px 23px;
  background-image: url(/_common/themes/gw/files/hl_publication_search.png);
  background-repeat: no-repeat;
  background-position: left center;
}
#menu .headLine h3.library {
  padding: 2px 0px 2px 23px;
  background-image: url(/_common/themes/gw/files/hl_library.png);
  background-repeat: no-repeat;
  background-position: left center;
}
#menu .headLine h3.qa {
  padding: 2px 0px 2px 23px;
  background-image: url(/_common/themes/gw/files/hl_qa.png);
  background-repeat: no-repeat;
  background-position: left center;
}
#menu .headLine h3.faq {
  padding: 2px 0px 2px 23px;
  background-image: url(/_common/themes/gw/files/hl_faq.png);
  background-repeat: no-repeat;
  background-position: left center;
}
#menu .headLine h3.bbs {
  padding: 2px 0px 2px 23px;
  background-image: url(/_common/themes/gw/files/hl_bbs.png);
  background-repeat: no-repeat;
  background-position: left center;
}

/* main piece style
----------------------------------------------- */
#reminder {
  margin-bottom: 20px;
  border: 1px solid #999;
}
#reminder td {
  padding: 1px 5px;
}
#reminder .pieceHeader {
  padding: 1px;
  border-bottom: 1px solid #9eacd3;
  background-color: #fff;
}
#reminder .pieceBody {
  padding: 5px;
}
