<%# 掲示板標準 -%>

<%=gwbbs_mobile_form_indices%>

<!--TABLE-->
<!--<table class="index">
<tbody>
<tr class="index">
<th class="bbsImportant"></th>
<th class="title">記事タイトル</th>
<th class="bbsAttach"></th>
<th class="bbsBalloon"></th>
<th class="exhibition dSort">公開日<a href="#">並び替え</a></th>
<th class="position aSort">所属<a href="#">並び替え</a></th>
<th class="category aSort">分類<a href="#">並び替え</a></th>
</tr>
<tr class="article">
<td class="bbsImportant"></td>
<td class="title"><a href="#">記事内容001</a></td>
<td class="bbsAttach"></td>
<td class="bbsBalloon"></td>
<td class="exhibition">2009-11-23</td>
<td class="position">○○課</td>
<td class="category">分類AAA</td>
</tr>
<tr class="article cycle">
<td class="bbsImportant"></td>
<td class="title"><a href="#">記事内容記事内容記事内容記事内容</a></td>
<td class="bbsAttach"></td>
<td class="bbsBalloon"></td>
<td class="exhibition">2009-11-23</td>
<td class="position">□□□課</td>
<td class="category">分類AAA</td>
</tr>
<tr class="article">
<td class="bbsImportant"></td>
<td class="title"><a href="#">記事内容記事内容002</a></td>
<td class="bbsAttach"></td>
<td class="bbsBalloon"></td>
<td class="exhibition">2009-11-23</td>
<td class="position">□□□課</td>
<td class="category">告知BBBB告知BBBB告知BBBB告知BBBB</td>
</tr>
<tr class="article cycle">
<td class="bbsImportant"></td>
<td class="title"><a href="#">記事内容記事内容003</a></td>
<td class="bbsAttach"></td>
<td class="bbsBalloon"></td>
<td class="exhibition">2009-11-23</td>
<td class="position">□□□課</td>
<td class="category">分類AAA</td>
</tr>
</tbody>
</table>--><!--bbsList-->
