<div class="bbsUserform">
<table class="bbsUserformBody">
<tr><td class="docTitle"><span><%=hbr(@item.title)%></span></td></tr>
<tr><td class="spaceBottom"></td></tr>
<tr><td><%=raw(@item.body)%></td></tr>
</table>
</div>