<%#*<p>Find me in app/views/gw/admin/year_mark_jp/new.html.erb</p>%>
<%
  @create_path = "/gw/year_mark_jps?#{@qs}"
%>
<div class="piece YearMarkJp">
<%= render :partial => 'header' %>

<div class="pieceBody">
<%= form_for :item, :url => @create_path, :html => {:method => :post, :multipart => true} do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<%= raw(submit_for(f, {:caption => '保存'}) ) %>
<% end %>
</div>

</div>
