<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_trainings/_menu.html.erb</p>%>
<%
link_str1 = %Q(<span>一覧</span>)
link_str2 = %Q(<span>登録</span>)
link_url1 = @public_uri
link_url2 = "#{@public_uri}/new"
case @l3_current
when '01'
  link_str1 = %Q(<span class="gwsub_current_menu">一覧</span>)
when '02'
  link_str2 = %Q(<span class="gwsub_current_menu">登録</span>)
else
end
%>
<% unless link_str1.blank? %>
<div class="menu">
<%= link_to raw(link_str2) , url_for(link_url2) if @u_role == true %>
<%= link_to raw(link_str1) , url_for(link_url1) %>
</div>
<% end %>
