<table class="bbsFile">
  <tr>
    <th>添付ファイル</th>
    <td>
      <a href="#" onclick="chageDisp(this,'attach_form');return false;">開く▼</a>
    </td>
  </tr>
</table>
<table id="attach_form" border="0" class="show" style="display: none;">
  <tr>
    <td style="padding: 0px 0px;">
      <iframe src="<%= gwworkflow_attachments_path(@item.id) %>" style="width: 100%; height: 300px;" frameborder="0"></iframe>
    </td>
  </tr>
</table>

<script type="text/javascript">
  //<![CDATA[
  function chageDisp(obj, changeObjId) {
    var display = document.getElementById(changeObjId).style.display;
    if (display == '') {
      obj.innerHTML = '開く▼';
    } else if (display == 'none') {
      obj.innerHTML = '閉じる▲';
    }
    Element.toggle($(changeObjId));
  }
  //]]>
</script>
