<%#*<p>Find me in app/views/gwsub/admin/sb01/sb01_training_plans/_menu.html.erb</p>%>
<%
if @top_menu == 'plans'
render_str = 'gwsub/admin/sb01/sb01_training_plans/menu'
else
render_str = 'gwsub/admin/sb01/sb01_training_entries/menu'
end
%>
<%#= render :partial => 'gwsub/admin/sb01/sb01_subfunction_select_menu' %>
<%= render :partial => render_str %>
