<div class="piece bbs">
<div class="pieceHeader">
<h2>掲示板</h2>
</div><!--pieceHeader-->
<div class="pieceBody">
<%= form_for :item, :url => "#{gwbbs_categories_path}?parent_id=#{params[:parent_id]}&title_id=#{params[:title_id]}",:method => :post,
 :html => {:method => :post} do |f| %>

<%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>

<%= submit_for(f,{:caption=>"登録する"}) %>

<% end %>
</div><!--pieceBody-->
</div><!--piece bbs-->
