
/* =========================================================
   piece
========================================================= */
/* space
----------------------------------------------- */
.pieceContainer {
  margin-bottom: 1em;
}

.pieceBody {
  padding: 0em 0.3em;
}
/* header
----------------------------------------------- */
#commonHeader .pieceContainer {
  margin-bottom: 0;
}
#commonHeader .pieceBody {
  padding: 0px;
}

/* color
----------------------------------------------- */
.blue {
  color: #0066cc;
  padding: 3px 0;
}
.orange {
  color: #ff6600;
}

/* footer
----------------------------------------------- */
#backNavi {
  padding: 3px 3px 5px 3px;
}
#address {
  border-top: 1px solid #000099;
  padding: 3px;
}
#copyright {
  margin-bottom: 5px;
  padding: 3px;
  background-color: #003399;
  color: #ffffff;
  text-align: center;
}
#copyright .pieceContainer {
  margin-bottom: 0;
}

/* corner-title
----------------------------------------------- */
#cornerTitle {
  margin-bottom: 5px;
  padding: 3px;
  background-color: #003399;
  color: #fff;
  font-weight: bold;
}
.contentPrefRecentDocs {
  margin-bottom: 5px;
  padding: 0px 5px;
}
#RecentDocsMore {
  text-align: right;
  padding-right: 5px;
}

/* title
----------------------------------------------- */
#pageTitle .pieceContainer,
#pageTitle .pieceBody {
  margin-bottom: 0px;
  padding: 0;
}
.latest {
  padding: 0.2em 0;
}
.h1 {
  margin-bottom: 5px;
  padding: 0.3em;
  background-color: #003399;
  color: #ffffff;
  font-weight: bold;
}
.h2 {
  background-color: #e3f0fa;
  margin-bottom: 5px;
  padding: 0.3em;
}

/* hr
----------------------------------------------- */
hr {
 display: none;
 border-style: solid;
 border-color: #000099;
 background-color: #000099;
 height: 1px;
}