<%= render :partial => 'folder_name' %>

<% if @is_admin %>
<div class="editingBox">
<span class="btNewFolder">
  <%= link_to 'フォルダ追加', "/doclibrary/folders/new?title_id=#{params[:title_id]}&state=#{params[:state]}&cat=#{params[:cat]}" %>
</span>
</div>
<% end %>
