<div class="navi">
<span style="margin-right:3em;" class="Menu">
  <%= link_to '全一覧' , "/gw/edit_tabs/list?pid=0" %>
</span>
<% tree = @parent.parent_tree %>
<% tree.each_with_index do |c, k| %>
  <%= link_to c.name.html_safe, "/gw/edit_tabs/?pid=#{c.id}" %>
  <% if tree.size != k + 1 %>&gt;<% end %>
<% end %>
</div>
