<%

box_width = 'width:400px;'  #承認者設定枠の幅
user_groups = Gwboard::Group.level

%>

<table width="100%">
  <tr>
  	<td style="border:0;" width="100%">
      <div>個別選択</div>
      <%= select_tag('item[readers][gid]', options_for_select(user_groups, Site.user_group.id ), :onchange=>'update_reader_cand();' ) %><br />
      <%= select_tag('item[readers][uid]', [], :size => 14, :style => box_width, :ondblclick => "add_user('item_readers_uid');", :multiple => true) %>
    </td>
    <td style="border:0;">
      <input type="button" value="追加 →" onclick="add_user('item_readers_uid');"/>
    </td>
  </tr>
</table>
