
<table class="show bbsText">
<tr><th colspan="3" class="titleTop">決裁ルート<%=raw(required('※'))%></th></tr>
<tr>
  <td class="userChange" width="50%&">
    <%= render(:partial => '/gwworkflow/share/user_selector')%>
  </td>
  <td class="userChange" valign="top" width="50%&">
    <%= render(:partial => '/gwworkflow/share/route_editor')%>
  </td>
</tr>
</table>

