@charset "UTF-8";
@import "../base/init.css";
@import "../base/style.css";
@import "../piece/style.css";

/* =========================================================
   category
========================================================= */

/* side-link
----------------------------------------------- */
#unitList .pieceHeader {
  height: 25px;
  background-image: url(./images/tl-kakuka.gif);
  background-position: left top;
  background-repeat: no-repeat;
}

/* shinchaku-ichiran
----------------------------------------------- */
.contentArticleUnit .latest {
  margin-bottom: 30px;
  padding: 0px;
  background-image: url(./images/tl-shinchaku-repeat.gif);
  background-position: left top;
  background-repeat: repeat-x;
}
.contentArticleUnit .latest h2 {
  height: 30px;
  margin-bottom: 10px;
  background-image: url(./images/tl-shinchaku.gif);
  background-position: left top;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
.contentArticleUnit ul {
  padding: 0px 5px;
}
.contentArticleUnit li {
  padding: 0px 0px 5px 10px;
  background-image: url(./images/ic-list-shinchaku.gif);
  background-position: left 5px;
  background-repeat: no-repeat;
}

.contentArticleUnit h3 {
  margin-bottom: 10px;
  padding: 5px 5px 4px 15px;
  background-color: #e3f0fa;
  color: #333333;
  font-size: 120%;
  font-weight: bold;
}
.more {
  padding: 0px 5px 10px 0px;
  text-align: right;
}

/* RSS Atom
----------------------------------------------- */
.feed {
  float: right;
  position: relative;
  top: -32px;
  right:10px;
  height: 13px;
  background-color: transparent;
}
.feed a.feedRss {
  display: inline-block;
  width: 40px;
  height: 13px;
  background-image:url(./images/bt-rss.gif);
  background-repeat:no-repeat;
  text-indent: 50px;
  overflow: hidden;
}
.feed a.feedAtom {
  display: inline-block;
  width: 40px;
  height: 13px;
  background-image:url(./images/bt-atom.gif);
  background-repeat:no-repeat;
  text-indent: 50px;
  overflow: hidden;
}

/* For firefox2 */
.feed a.feedAtom,y:-moz-any-link,
.feed a.feedRss,x:-moz-any-link {
  display: -moz-inline-box;
  padding-top: 13px;
}

/* Soshiki Ichiran
----------------------------------------------- */
#unitNavi {
  margin: 0px 0px 20px 0px;
}
#unitNavi .pieceBody {
  padding: 10px 0px 0px 0px;
}
#unitNavi .list {
  text-align: left;
}
#unitNavi .list a {
  padding: 0px 0px 0px 7px;
  background-image: url(./images/ic-list.gif);
  background-position: left center;
  background-repeat: no-repeat;
}
#unitNavi .pdfList {
  text-align: right;
}
.contentArticleUnit table {
  width: 100%;
}
.contentArticleUnit .pageTop {
  margin:5px 0px 30px 0px;
  text-align: right;
}
.contentArticleUnit .pageTop a {
  padding: 0px 0px 0px 15px;
  background-image: url(./images/ic-top.gif);
  background-position: left center;
  background-repeat: no-repeat;
}
table.department {
  background-color: #232f92;
  color: #ffffff;
}
table.department a {
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 7px;
  background-image: url(./images/ic-link.gif);
  background-position: left center;
  background-repeat: no-repeat;
  color: #ffffff;
}
table.department a:visited,
table.department a:hover {
  color: #ffffff;
}
table.unit a {
  margin: 0px 10px 0px 0px;
  padding: 0px 0px 0px 7px;
  background-image: url(./images/ic-list.gif);
  background-position: left center;
  background-repeat: no-repeat;
}
table.unit tr.cycle {
  background-color: #E3F0FA;
}
.contentArticleUnit .department td,
.contentArticleUnit .unit td {
  padding: 5px 7px;
}
.contentArticleUnit td.outline,
.contentArticleUnit td.page,
.contentArticleUnit td.tel {
  width: 15%;
}
.contentArticleUnit td.name {
  width: 25%;
}