<% help_links = Gwmonitor::Property::HelpLink.first_or_new.help_links %>
<table class="show">
  <% if @title.state == 'closed' %>
  <tr>
    <th>状態</th>
    <td><%= @title.status_name %></td>
  </tr>
  <% end %>
  <tr>
    <th>回答表示設定<span class="help"><%=raw help_links[1] %></span></th>
    <td><%= @title.spec_config_name_status %></td>
  </tr>
  <tr>
    <th>回答期限日</th>
    <td><%=l @title.expiry_date if @title.expiry_date %></td>
  </tr>
</table>
