<div class="pieceHeader">
<h2 class="pieceTitle">ワークフロー</h2>
<div class="btsHeaderLeft">
<% unless defined?(hide_new_action) %>
  <span class="btNew"><%= link_to '新規作成', {action: :new} %></span>
<% end %>
</div>

<div class="btsHeadeRight">
  <span class="btSet"><%= link_to '設定', gwworkflow_settings_path %></span>
</div><!--btsHeadeRight-->
</div><!--pieceHeader-->
