<div class="pieceHeader">
<h2 class="pieceTitle"><%= @system_title %> 配信先グループ個人設定</h2>
<div class="btsHeaderLeft">
<span class="btNew"><%= link_to'新規作成', action: :new if action_name == 'index' %></span>
</div>
</div><!--pieceHeader-->
